openapi: 3.0.3
info:
  title: Horizon API V1 AccountExternalTruckIdentifier Orders API
  version: '1.0'
  contact:
    name: Tread
    url: https://tread.io
    email: developers@tread.io
  description: 'This is the Version 1 implementation.


    When in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)'
  license:
    name: Private
    url: https://tread.io
servers:
- description: production
  url: https://api.tread-horizon.com
security:
- bearerAuth: []
tags:
- name: Orders
paths:
  /v1/companies/{company-id}/orders:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create an Order for a Company
      operationId: post-v1-companies-company-id-orders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: jysplq1m6rd9f
      description: 'Create a new `Order`


        This endpoint requires the `create_order` permission'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Create'
    get:
      summary: Retrieve Orders that belong to a Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: 8yf3sh1kx0p9d
                    items:
                      $ref: '#/components/schemas/Order-Read'
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders
      x-stoplight:
        id: wyc94gcrgdvqo
      description: "Retrieve `Orders` for a `Company`.\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `company_name`\n * `account_name`\n * `project_name`\n * `order_id`\n * `project_external_id`\n * `dispatch_number`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - $ref: '#/components/parameters/filter-states'
      - $ref: '#/components/parameters/filter-start_date'
      - $ref: '#/components/parameters/filter-end_date'
      - $ref: '#/components/parameters/filter-requester_ids'
      - $ref: '#/components/parameters/filter-foreman_ids'
      - $ref: '#/components/parameters/filter-collaborator_ids'
      - $ref: '#/components/parameters/filter-salesperson_ids'
      - $ref: '#/components/parameters/filter-department_ids'
  /v1/companies/{company-id}/orders/dispatch:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Orders based on Jobs that belong to a Company
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: bcs7kxutifk8q
                    items:
                      $ref: '#/components/schemas/Order-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-dispatch
      x-stoplight:
        id: gvvtg8qn1vi61
      description: "Retrieve `Orders` based on `Jobs` grouped by `Orders` that belong to `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `company_name`\n * `account_name`\n * `project_name`\n * `order_id`\n * `project_external_id`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-start_date'
      - $ref: '#/components/parameters/filter-job-end_date'
      - $ref: '#/components/parameters/filter-job-customer_account_ids'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-equipment_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-job-project_ids'
      - $ref: '#/components/parameters/filter-job-service_ids'
      - $ref: '#/components/parameters/filter-equipment_type_ids'
      - $ref: '#/components/parameters/filter-states'
      - $ref: '#/components/parameters/search-job-datagrid'
      - $ref: '#/components/parameters/filter-job-company_ids'
      - $ref: '#/components/parameters/filter-dispatch_number_ids'
      - $ref: '#/components/parameters/filter-job-external_ids'
      - $ref: '#/components/parameters/filter-requester_ids'
      - $ref: '#/components/parameters/filter-job-site_types'
      - $ref: '#/components/parameters/filter-job-foreman_ids'
      - $ref: '#/components/parameters/filter-job-collaborator_ids'
      - $ref: '#/components/parameters/filter-job-salesperson_ids'
      - $ref: '#/components/parameters/filter-department_ids'
      - $ref: '#/components/parameters/filter-collaborator_ids'
      - $ref: '#/components/parameters/filter-salesperson_ids'
      - $ref: '#/components/parameters/sort-created_at'
      - $ref: '#/components/parameters/sort-load_at'
      - $ref: '#/components/parameters/sort-friendly_order_id'
      - $ref: '#/components/parameters/sort-dispatch_number-name'
      - $ref: '#/components/parameters/sort-account-name'
      - $ref: '#/components/parameters/sort-company-legal_name'
      - $ref: '#/components/parameters/filter-job-receivable_invoice-states'
      - $ref: '#/components/parameters/filter-job-payable_invoice-states'
      x-internal: true
      tags:
      - Orders
  /v1/companies/{company-id}/orders/dispatch_numbers/faceted_search:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      description: Company ID
      required: true
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Search Dispatch Numbers based on the current Dispatch results
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DispatchNumber-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-dispatch_numbers-faceted_search
      description: Searches `DispatchNumbers` in a typeahead style but instead of all `DispatchNumbers` for a `Company` this returns all `DispatchNumbers` that are associated to the dispatch list, where the dispatch list is defined by the `filter` and `search` inputs that belong to a `Company`.
      parameters:
      - $ref: '#/components/parameters/filter-job-company_ids'
      - $ref: '#/components/parameters/filter-job-customer_account_ids'
      - $ref: '#/components/parameters/filter-dispatch_number_ids'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-end_date'
      - $ref: '#/components/parameters/filter-job-equipment_ids'
      - $ref: '#/components/parameters/filter-job-external_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-project_ids'
      - $ref: '#/components/parameters/filter-job-service_ids'
      - $ref: '#/components/parameters/filter-job-site_types'
      - $ref: '#/components/parameters/filter-job-start_date'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/facet-search-query'
      tags:
      - Orders
      x-internal: false
      x-stoplight:
        id: fkv07xsabff5n
  /v1/companies/{company-id}/orders/dispatch_numbers/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      description: Company ID
      required: true
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Orders' Dispatch Number by Company
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: myglff7zr8e8u
                    items:
                      $ref: '#/components/schemas/DispatchNumber-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-dispatch_numbers-typeahead
      x-stoplight:
        id: 2pdlcom6zn9kk
      description: Typeahead search against the `dispatch_number` property on `Orders` by current `Company`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      tags:
      - Orders
      x-internal: false
  /v1/companies/{company-id}/orders/estimate:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Generate estimated Order values
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Estimate-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-companies-company-id-orders-estimate
      x-stoplight:
        id: wzev5ik9bzg0b
      x-internal: true
      description: 'Generates estimated `Order` values.


        One of `total_loads`, `total_units`, or `truck_quantity` must be set in the request.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/Order-Estimate-Create'
  /v1/companies/{company-id}/orders/invoicing:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    get:
      summary: Retrieve Orders based on Invoices that belong to a Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-invoicing
      x-stoplight:
        id: 4bpcs42vgctto
      description: "Retrieve `Orders` based on `Invoices` grouped by `Orders` that belong to `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `company_name`\n * `account_name`\n * `project_name`\n * `order_id`\n * `project_external_id`\n\nInvoice datagrid search (`search[invoice][datagrid]`) queries against the following properties:\n * `job_id`\n * `customer_account_name`\n * `vendor_account_name`\n * `driver_name`\n * `order_id`\n * `order_external_id`\n * `order_name`\n * `project_name`\n * `project_external_id`\n * `dispatch_number_name`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - $ref: '#/components/parameters/search-invoice-datagrid'
      - $ref: '#/components/parameters/filter-states'
      - $ref: '#/components/parameters/filter-department_ids'
      - $ref: '#/components/parameters/filter-collaborator_ids'
      - $ref: '#/components/parameters/filter-salesperson_ids'
      - $ref: '#/components/parameters/filter-requester_ids'
      - $ref: '#/components/parameters/sort-created_at'
      - $ref: '#/components/parameters/sort-friendly_order_id'
      - $ref: '#/components/parameters/sort-account-name'
      - $ref: '#/components/parameters/sort-company-legal_name'
      - $ref: '#/components/parameters/filter-invoice-start_date'
      - $ref: '#/components/parameters/filter-invoice-end_date'
      - $ref: '#/components/parameters/filter-invoice-invoice_category'
      - $ref: '#/components/parameters/filter-invoice-grouped'
      - $ref: '#/components/parameters/filter-invoice-invoiceable_type'
      - $ref: '#/components/parameters/filter-invoice-states'
      - $ref: '#/components/parameters/filter-invoice-rate_types'
      - $ref: '#/components/parameters/filter-invoice-vendor_account_ids'
      - $ref: '#/components/parameters/filter-invoice-customer_account_ids'
      - $ref: '#/components/parameters/filter-invoice-pickup_site_ids'
      - $ref: '#/components/parameters/filter-invoice-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-invoice-driver_ids'
      - $ref: '#/components/parameters/filter-invoice-company_id'
      - $ref: '#/components/parameters/filter-project_ids'
      x-internal: true
  /v1/companies/{company-id}/orders/simulate_order:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Simulate an Order
      tags:
      - Orders
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-companies-company-id-orders-simulate_order
      x-stoplight:
        id: 4mg6ghr2wll4g
      description: Simulate an `Order` being dispatched and completed
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateOrder-Create'
  /v1/companies/{company-id}/orders/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Orders by Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-typeahead
      x-stoplight:
        id: ordtypahead01
      description: Typeahead search against the `order_id` property for `Orders` visible to the currently authenticated `Company`.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
  /v1/companies/{company-id}/orders/{id}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a single Order for a Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-id
      x-stoplight:
        id: ewtldxjec63ur
      description: Retrieve `Order` by ID
      parameters: []
    patch:
      summary: Update an Order for a Company
      operationId: patch-v1-companies-company-id-orders-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: mwmh81jx8vehs
      description: 'Update `Order` by ID


        This endpoint requires the `edit_order` permission _or_ the `edit_order_pre_accept` permission, which only allows editing if the Order is in `created`, `pending_request` or `rejected` state'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Update'
      tags:
      - Orders
  /v1/companies/{company-id}/orders/{order-id}/accept:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Accept an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-accept
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: zrwyocm1ftz2d
      tags:
      - Orders
      description: 'Accept an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/orders/{order-id}/cancel:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Cancel an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-cancel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: z5lfi0ikmrbq4
      description: 'Cancel an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/orders/{order-id}/complete:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Complete an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-complete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: eba55f66t45l7
      description: 'Complete an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/orders/{order-id}/copy:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Copy an Order
      tags:
      - Orders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-companies-company-id-orders-order-id-copy
      x-stoplight:
        id: 9u270vs5ed4d7
      description: 'Copy an existing `Order`.


        This endpoint required the `create_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Copy'
  /v1/companies/{company-id}/orders/{order-id}/default_sites/{waypoint-type}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - schema:
        type: string
        enum:
        - pickup
        - drop_off
      name: waypoint-type
      in: path
      required: true
      description: Waypoint type
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve default sites for an order, given a waypoint type.
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site-Read-Nested'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-order-id-default-sites
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      description: 'Retrieve the `Sites` that belong to the default list of an `Order`, given a particular ''WaypointType''.

        '
      x-internal: true
      x-stoplight:
        id: ol22e12bbdlir
  /v1/companies/{company-id}/orders/{order-id}/default_sites/{waypoint-type}/{site-id}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - schema:
        type: string
        enum:
        - pickup
        - drop_off
      name: waypoint-type
      in: path
      required: true
      description: Waypoint type
    - schema:
        type: string
        format: uuid
      name: site-id
      in: path
      required: true
      description: Site ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Add a site to default site list on order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site-Read-Nested'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-orders-order-id-default_sites-waypoint-type-site-id
      x-stoplight:
        id: 3dklcp6i2iauu
      description: "Add a `Site` to the default_site list for an `Order`, given a particular 'WaypointType'.\n\nNote: The underlying site grouping will be created automatically when the first \nsite is added for a given order. "
      x-internal: true
    delete:
      summary: Delete a single site from a default list of an order.
      tags:
      - Orders
      responses:
        '204':
          description: Shared Response
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-companies-company-id-orders-order-id-default_sites-waypoint-type-site-id
      x-stoplight:
        id: 4ge4go0471034
      description: Delete a `Site` to the default_site list for an `Order`, given a particular 'WaypointType'.
      x-internal: true
  /v1/companies/{company-id}/orders/{order-id}/driver_sms:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send SMS to a driver of all the Jobs of an Order for a Company
      responses:
        '202':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-orders-order-id-driver_sms
      description: Send sms text to `driver` of all `Job`s of an `Order`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sms-Create'
      x-stoplight:
        id: e8gvvvd523kyr
      tags:
      - Orders
  /v1/companies/{company-id}/orders/{order-id}/hold:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Hold an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-hold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      tags:
      - Orders
      description: 'Hold an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: rbrgqqy620o9v
  /v1/companies/{company-id}/orders/{order-id}/materials/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Materials that belong to Order's Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: xr3m6ssu8y6ed
                    items:
                      $ref: '#/components/schemas/Material-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-order-id-materials-typeahead
      x-stoplight:
        id: bmjq2ylkh3y25
      description: Typeahead search against the `name` property for `Materials` that belong to the `Order`'s `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
  /v1/companies/{company-id}/orders/{order-id}/reject:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Reject an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-reject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: t0ido63x1j73d
      description: 'Reject an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reject_reason:
                  type: string
                  x-stoplight:
                    id: tn076pj84m0j1
                  description: A user-provided reason for rejecting the Order
                  maxLength: 100
                  minLength: 1
                  nullable: true
  /v1/companies/{company-id}/orders/{order-id}/request:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Request an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: pm6auw92yzkyk
      tags:
      - Orders
      description: 'Request an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/orders/{order-id}/sites/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Sites that belong to Order's Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: kiktkjftpqqlc
                    items:
                      $ref: '#/components/schemas/Site-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-order-id-sites-typeahead
      x-stoplight:
        id: mi17lfpvzrzfk
      description: Typeahead search against the `name`, or `external_id` property for `Sites` that belong to the `Order`'s `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/filter-states'
  /v1/companies/{company-id}/orders/{order-id}/start:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Start an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-start
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: c03zmt3vtny1i
      tags:
      - Orders
      description: 'Start an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/orders/{order-id}/tickets:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Tickets for an Order for a Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-order-id-id-tickets
      description: 'Retrive `Tickets` for an `Order`.

        Filter usage:

        * to filter a from date: `filter[from_date]`

        * to filter a to date: `filter[to_date]`

        '
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - schema:
          type: string
        in: query
        name: filter[from_date]
        description: Start range of ticket.created_at
      - schema:
          type: string
        in: query
        name: filter[to_date]
        description: End range of ticket.created_at
      - schema:
          type: boolean
        in: query
        name: filter[flagged]
        description: Filter to only flagged or un-flagged Tickets
      - $ref: '#/components/parameters/filter-sources'
      x-stoplight:
        id: sxk44khjpj9h8
  /v1/companies/{company-id}/orders/{order-id}/tickets/rollup_summary:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Ticket Rollup Summary for an Order for a Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TicketRollupSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-orders-order-id-id-tickets-rollup-summary
      description: 'Retrive `TicketRollupSummary` for an `Order`.

        Filter usage:

        * filter on ticket source: `filter[sources]`

        '
      parameters:
      - $ref: '#/components/parameters/filter-sources'
      x-stoplight:
        id: lrtsaqw83ugg6
  /v1/companies/{company-id}/orders/{order-id}/weather_hold:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Weather Hold an Order for a Company
      operationId: put-v1-companies-company-id-orders-order-id-weather-hold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      tags:
      - Orders
      description: 'Weather Hold an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: gievwgjd2w8eh
  /v1/orders:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create an Order
      operationId: post-v1-orders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: x42tyegyeh66w
      description: 'Create a new `Order`


        This endpoint requires the `create_order` permission'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Create'
      deprecated: true
    get:
      summary: Retrieve Orders that belong to the current Company
      operationId: get-v1-orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: mzh7ea2cn1718
                    items:
                      $ref: '#/components/schemas/Order-Read'
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      x-stoplight:
        id: e4jgtx3mxeuss
      tags:
      - Orders
      description: "Retrieve `Orders` visible to the currently authenticated `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `company_name`\n * `account_name`\n * `project_name`\n * `order_id`\n * `project_external_id`\n * `dispatch_number`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - $ref: '#/components/parameters/filter-states'
      - $ref: '#/components/parameters/filter-start_date'
      - $ref: '#/components/parameters/filter-end_date'
      - schema:
          type: array
        in: query
        name: ids
        description: Order IDs
      - $ref: '#/components/parameters/filter-requester_ids'
      - $ref: '#/components/parameters/filter-foreman_ids'
      - $ref: '#/components/parameters/filter-collaborator_ids'
      - $ref: '#/components/parameters/filter-salesperson_ids'
      - $ref: '#/components/parameters/filter-department_ids'
      deprecated: true
  /v1/orders/dispatch:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Orders based on Jobs for the current Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: yn8km4gf63m6w
                    items:
                      $ref: '#/components/schemas/Order-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-orders-dispatch
      x-stoplight:
        id: 7mpiic783azcy
      description: "Retrieve `Orders` based on `Jobs` grouped by `Orders` for the current `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `company_name`\n * `account_name`\n * `project_name`\n * `order_id`\n * `project_external_id`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-start_date'
      - $ref: '#/components/parameters/filter-job-end_date'
      - $ref: '#/components/parameters/filter-job-customer_account_ids'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-equipment_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-job-project_ids'
      - $ref: '#/components/parameters/filter-job-service_ids'
      - $ref: '#/components/parameters/filter-equipment_type_ids'
      - $ref: '#/components/parameters/filter-states'
      - $ref: '#/components/parameters/search-job-datagrid'
      - $ref: '#/components/parameters/filter-dispatch_number_ids'
      - $ref: '#/components/parameters/filter-job-external_ids'
      - $ref: '#/components/parameters/filter-job-company_ids'
      - $ref: '#/components/parameters/filter-requester_ids'
      - $ref: '#/components/parameters/filter-job-site_types'
      - $ref: '#/components/parameters/filter-job-foreman_ids'
      - $ref: '#/components/parameters/filter-job-collaborator_ids'
      - $ref: '#/components/parameters/filter-job-salesperson_ids'
      - $ref: '#/components/parameters/filter-department_ids'
      - $ref: '#/components/parameters/sort-created_at'
      - $ref: '#/components/parameters/sort-load_at'
      - $ref: '#/components/parameters/sort-friendly_order_id'
      - $ref: '#/components/parameters/sort-dispatch_number-name'
      - $ref: '#/components/parameters/sort-account-name'
      - $ref: '#/components/parameters/sort-company-legal_name'
      x-internal: true
      deprecated: true
  /v1/orders/estimate:
    parameters:
    - name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    post:
      summary: Generate estimated Order values
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Estimate-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-orders-estimate
      x-stoplight:
        id: ke6iixxya5c4m
      x-internal: true
      description: 'Generates estimated `Order` values.


        One of `total_loads`, `total_units`, or `truck_quantity` must be set in the request.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/Order-Estimate-Create'
      deprecated: true
  /v1/orders/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a single Order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-orders-id
      x-stoplight:
        id: 94snghibytdys
      description: Retrieve `Order` by ID
      parameters: []
      deprecated: true
    patch:
      summary: Update an Order
      operationId: patch-v1-orders-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: 0dbe6fob4xovz
      description: 'Update `Order` by ID


        This endpoint requires the `edit_order` permission _or_ the `edit_order_pre_accept` permission, which only allows editing if the Order is in `created`, `pending_request` or `rejected` state'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Update'
      tags:
      - Orders
      deprecated: true
  /v1/orders/{order-id}/accept:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Accept an Order
      operationId: put-v1-orders-order-id-accept
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: ahctk8jujf17r
      tags:
      - Orders
      description: 'Accept an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      deprecated: true
  /v1/orders/{order-id}/cancel:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Cancel an Order
      operationId: put-v1-orders-order-id-cancel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: xqglda635fg0d
      description: 'Cancel an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      deprecated: true
  /v1/orders/{order-id}/complete:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Complete an Order
      operationId: put-v1-orders-order-id-complete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: tqhsymelhh2km
      description: 'Complete an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      deprecated: true
  /v1/orders/{order-id}/copy:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Copy an Order
      operationId: post-v1-orders-order-id-copy
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: veh4v5n8xfn6t
      description: 'Copy an existing `Order`.


        This endpoint required the `create_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Copy'
      deprecated: true
  /v1/orders/{order-id}/default_sites/{waypoint-type}:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - schema:
        type: string
        enum:
        - pickup
        - drop_off
      name: waypoint-type
      in: path
      required: true
      description: Waypoint type
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve default sites for an order, given a waypoint type.
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site-Read-Nested'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-orders-order-id-default-sites
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      description: 'Retrieve the `Sites` that belong to the default list of an `Order`, given a particular ''WaypointType''.

        '
      x-internal: true
      x-stoplight:
        id: wguhj02d3b7rh
      deprecated: true
  /v1/orders/{order-id}/default_sites/{waypoint-type}/{site-id}:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order id
    - schema:
        type: string
        enum:
        - pickup
        - drop_off
      name: waypoint-type
      in: path
      required: true
      description: Waypoint type
    - schema:
        type: string
      name: site-id
      in: path
      required: true
      description: Site id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Add a site to default site list on order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site-Read-Nested'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-orders-order-id-default_sites-waypoint-type-site-id
      x-stoplight:
        id: bgblx8ozfx49v
      description: "Add a `Site` to the default_site list for an `Order`, given a particular 'WaypointType'.\n\nNote: The underlying site grouping will be created automatically when the first \nsite is added for a given order. "
      x-internal: true
      deprecated: true
    delete:
      summary: Delete a single site from a default list of an order.
      tags:
      - Orders
      responses:
        '204':
          description: Shared Response
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-orders-order-id-default_sites-waypoint-type-site-id
      x-stoplight:
        id: 0xv7jo7tt2k44
      description: Delete a `Site` to the default_site list for an `Order`, given a particular 'WaypointType'.
      x-internal: true
      deprecated: true
  /v1/orders/{order-id}/driver_sms:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order Id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send SMS to a driver of all the Jobs of an Order
      responses:
        '202':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-orders-order-id-driver_sms
      description: Send sms text to `driver` of all `Job`s of an `Order`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sms-Create'
      x-stoplight:
        id: qni94m07ocnqq
      tags:
      - Orders
      deprecated: true
  /v1/orders/{order-id}/hold:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Hold an Order
      operationId: put-v1-orders-order-id-hold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      tags:
      - Orders
      description: 'Hold an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: nq9yp0by8wemw
      deprecated: true
  /v1/orders/{order-id}/materials/typeahead:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Materials that belong to Order's Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: xr3m6ssu8y6ed
                    items:
                      $ref: '#/components/schemas/Material-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-orders-order-id-materials-typeahead
      x-stoplight:
        id: j0ap9rwx29chq
      description: Typeahead search against the `name` property for `Materials` that belong to the `Order`'s `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      deprecated: true
  /v1/orders/{order-id}/reject:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Reject an Order
      operationId: put-v1-orders-order-id-reject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: uru4rb9y35ubf
      description: 'Reject an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reject_reason:
                  type: string
                  x-stoplight:
                    id: tn076pj84m0j1
                  description: A user-provided reason for rejecting the Order
                  maxLength: 100
                  minLength: 1
                  nullable: true
      deprecated: true
  /v1/orders/{order-id}/request:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Request an Order
      operationId: put-v1-orders-order-id-request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: 4tukok39el2od
      tags:
      - Orders
      description: 'Request an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      deprecated: true
  /v1/orders/{order-id}/sites/typeahead:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Sites that belong to Order's Company
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: kiktkjftpqqlc
                    items:
                      $ref: '#/components/schemas/Site-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-orders-order-id-sites-typeahead
      x-stoplight:
        id: g8ff3h891sb9p
      description: Typeahead search against the `name`, or `external_id` property for `Sites` that belong to the `Order`'s `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/filter-states'
      deprecated: true
  /v1/orders/{order-id}/start:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order Id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Start an Order
      operationId: put-v1-orders-order-id-start
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: a038a0rp3m80z
      tags:
      - Orders
      description: 'Start an `Order`.


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      deprecated: true
  /v1/orders/{order-id}/tickets:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Tickets for an Order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-orders-order-id-id-tickets
      description: 'Retrive `Tickets` for an `Order`.

        Filter usage:

        * to filter a from date: `filter[from_date]`

        * to filter a to date: `filter[to_date]`

        '
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - schema:
          type: string
        in: query
        name: filter[from_date]
        description: Start range of ticket.created_at
      - schema:
          type: string
        in: query
        name: filter[to_date]
        description: End range of ticket.created_at
      - schema:
          type: boolean
        in: query
        name: filter[flagged]
        description: Filter to only flagged or un-flagged Tickets
      - $ref: '#/components/parameters/filter-sources'
      x-stoplight:
        id: ncxsngghpi7ea
      deprecated: true
  /v1/orders/{order-id}/tickets/rollup_summary:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Ticket Rollup Summary for an Order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TicketRollupSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-orders-order-id-id-tickets-rollup-summary
      description: 'Retrive `TicketRollupSummary` for an `Order`.

        Filter usage:

        * filter on ticket source: `filter[sources]`

        '
      parameters:
      - $ref: '#/components/parameters/filter-sources'
      x-stoplight:
        id: gflnfaum35oba
      deprecated: true
  /v1/orders/{order-id}/weather_hold:
    parameters:
    - schema:
        type: string
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Weather Hold an Order
      operationId: put-v1-orders-order-id-weather-hold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      tags:
      - Orders
      description: 'Weather Hold an `Order`


        This endpoint requires the `edit_order` `IamPermission`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: hxrd3ip6pgfao
      deprecated: true
  /v1/projects/{project-id}/default_sites/{waypoint-type}/{site-id}:
    parameters:
    - schema:
        type: string
        enum:
        - pickup
        - drop_off
      name: waypoint-type
      in: path
      required: true
      description: Waypoint type
    - schema:
        type: string
      name: site-id
      in: path
      required: true
      description: Site id
    - schema:
        type: string
      name: project-id
      in: path
      required: true
      description: Project id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Add a site to default site list on order
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site-Read-Nested'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-projects-project-id-default_sites-waypoint-type-site-id
      description: "Add a `Site` to the default_site list for an `Project`, given a particular 'WaypointType'.\n\nNote: The underlying site grouping will be created automatically when the first \nsite is added for a given project. "
      x-internal: true
      x-stoplight:
        id: ucjvqgmfu1q80
    delete:
      summary: Delete a single site from a default list of an order.
      tags:
      - Orders
      responses:
        '204':
          description: Shared Response
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-projects-project-id-default_sites-waypoint-type-site-id
      description: Delete a `Site` to the default_site list for an `Order`, given a particular 'WaypointType'.
      x-internal: true
      x-stoplight:
        id: kpx387ps3xdlg
  /v1/route_estimate:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Calculate estimated Route time and distance
      tags:
      - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/RouteEstimate-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-route_estimate
      x-stoplight:
        id: an0nocp74jfki
      description: Calculate estimated `Route` `time` and `distance`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/RouteEstimate-Create'
components:
  schemas:
    Order-Estimate-Read:
      title: Order-Estimate-Read
      x-stoplight:
        id: 1bbtil49yhz30
      type: object
      properties:
        truck_quantity:
          type: integer
          x-stoplight:
            id: 7no7io874k78b
        loads_per_truck:
          type: integer
          x-stoplight:
            id: 3qhw8okjs1srt
        total_loads:
          type: integer
          x-stoplight:
            id: jcz26mrtsruxy
        delivered_per_truck:
          type: integer
          x-stoplight:
            id: ursn5nr1jy0ff
        total_units:
          type: integer
          x-stoplight:
            id: 1yr3hkf4ow4zg
        units_per_hour:
          type: integer
          x-stoplight:
            id: 5lxppabz9vlx0
      additionalProperties: false
    ServiceClass-Read-Nested:
      title: ServiceClass-Read-Nested
      x-stoplight:
        id: ahk4knwjgo1di
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          name:
            type: string
            description: ServiceClass name.
        required:
        - name
    StateError-Response:
      title: StateError-Response
      x-stoplight:
        id: i0wsk2gmnaqup
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/StateError'
      additionalProperties: false
    NextBillionGeofence-Read:
      title: NextBillionGeofence-Read
      x-stoplight:
        id: 60y0z4bb3pu6m
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Geofence-Data'
    Discardable:
      title: Discardable
      x-stoplight:
        id: 46axlb8u5wjay
      type: object
      required:
      - discarded_at
      properties:
        discarded_at:
          type: string
          x-stoplight:
            id: cy8t6fecoyxbo
          format: date-time
          nullable: true
      additionalProperties: false
    Contact-Create:
      title: Contact-Create
      x-stoplight:
        id: dhro09gmoiqgw
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: ehb4vhlggledw
        email:
          type: string
          x-stoplight:
            id: kxjggao5fm38r
        phone:
          type: string
          x-stoplight:
            id: 3dxv517oimpb1
          example: '+18885551234'
          description: Contact's E.164 formatted phone number
      additionalProperties: false
    DispatchNumber-Update:
      title: DispatchNumber-Update
      x-stoplight:
        id: pnc0w6nqmqx3m
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: dgxr5h012k8lx
        _destroy:
          type: integer
          x-stoplight:
            id: pkzppi16wvdz9
      additionalProperties: false
    Destroyable:
      title: Destroyable
      x-stoplight:
        id: 2uftzhptd2l14
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: gx1ww996hmzqm
          format: uuid
          description: Required if `_destroy` is set
        _destroy:
          type: integer
          x-stoplight:
            id: 0xjwztkz4fmcr
          description: 'If this is provided with value of `1` like so `_destroy: 1` then this model will be deleted. The `id` must be set.'
      additionalProperties: false
    RequestedQuantityType:
      title: RequestedQuantityType
      x-stoplight:
        id: qysuik83a8uvo
      enum:
      - truck
      - load
      - unit
    Waypoint-Create:
      title: Waypoint-Create
      x-stoplight:
        id: lkkjczl49mn3l
      type: object
      required:
      - type
      - site_id
      - ordinality
      properties:
        type:
          $ref: '#/components/schemas/WaypointType'
        site_id:
          type: string
          x-stoplight:
            id: qlodrw03gom0x
          format: uuid
        contact:
          $ref: '#/components/schemas/Contact-Create'
        ordinality:
          type: integer
          x-stoplight:
            id: bfpbu9vyhtn9a
      additionalProperties: false
    Timestamps:
      title: Timestamps
      x-stoplight:
        id: t82ecgfu0oj00
      type: object
      required:
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          x-stoplight:
            id: gjj950jpq0ga9
          format: date-time
          description: ISO8601 timestamp with local timezone
        updated_at:
          type: string
          x-stoplight:
            id: bwcuyfwc7aj0e
          format: date-time
          description: ISO8601 timestamp with local timezone
      additionalProperties: false
    StateError-Item:
      title: StateError-Item
      x-stoplight:
        id: dgw2jdmi7ozjj
      allOf:
      - $ref: '#/components/schemas/ModelError-Item'
      - type: object
        x-stoplight:
          id: jrgi7oapao3e5
        required:
        - state
        - event
        properties:
          state:
            type: string
            x-stoplight:
              id: mah8jye43io32
            description: The current state value of the field on this Model
          event:
            type: string
            x-stoplight:
              id: dtgu62ni9ofuh
            description: The failed state event called on the Model
    RateCommission-Read-Nested:
      title: RateCommission-Read-Nested
      x-stoplight:
        id: rfosxiu0rajbx
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - type
        - commission_percentage
        properties:
          name:
            type: string
            x-stoplight:
              id: uquhf0pc3ydpf
          type:
            $ref: '#/components/schemas/RateType'
          commission_percentage:
            type: number
            x-stoplight:
              id: 44e2kldfzbxdj
    DispatchNumber-Read-Nested:
      title: DispatchNumber-Read-Nested
      x-stoplight:
        id: 5oe6kw6t82gnr
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        properties:
          name:
            type: string
    RouteEstimate-Create:
      title: RouteEstimate-Create
[...]
