openapi: 3.0.3
info:
  title: Horizon API V1 AccountExternalTruckIdentifier API
  version: '1.0'
  contact:
    name: Tread
    url: https://tread.io
    email: developers@tread.io
  description: 'This is the Version 1 implementation.


    When in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)'
  license:
    name: Private
    url: https://tread.io
servers:
- description: production
  url: https://api.tread-horizon.com
security:
- bearerAuth: []
tags:
- name: AccountExternalTruckIdentifier
paths:
  /v1/companies/{company-id}/account_external_truck_identifiers:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve AccountExternalTruckIdentifiers that belong to a Company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account-External-Truck-Identifier-Read'
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-account-external-truck-identifiers
      description: "Retrieve `AccountExternalTruckIdentifier` for a `Company`.\n\nFilter usage:\n * to filter by account id: `filter[account_id]=account_id`\n * to filter for records missing a company share: `filter[missing_company_share]=true`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-account_id'
      - $ref: '#/components/parameters/filter-missing_company_share'
      x-internal: false
      x-stoplight:
        id: cd3p73h6za9cz
      tags:
      - AccountExternalTruckIdentifier
  /v1/companies/{company-id}/account_external_truck_identifiers/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: AccountExternalTruckIdentifier ID
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    get:
      summary: Retrieve a single AccountExternalTruckIdentifier
      operationId: get-v1-companies-account_external_truck_identifiers-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Account-External-Truck-Identifier-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      description: Retrieve `AccountExternalTruckIdentifier` by ID
      parameters: []
      x-stoplight:
        id: u2lza0rlc546i
      tags:
      - AccountExternalTruckIdentifier
    patch:
      summary: Update a AccountExternalTruckIdentifier
      operationId: patch-v1-companies-account_external_truck_identifiers-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Account-External-Truck-Identifier-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: 'Update a `AccountExternalTruckIdentifier` by ID

        '
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account-External-Truck-Identifier-Update'
        description: ''
      x-stoplight:
        id: 07eq0gu50cjh2
      tags:
      - AccountExternalTruckIdentifier
    delete:
      summary: Delete a AccountExternalTruckIdentifier
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: delete-v1-companies-account_external_truck_identifiers-id
      description: 'Delete a `AccountExternalTruckIdentifier` by ID

        '
      x-stoplight:
        id: bp6myefy5f95q
      tags:
      - AccountExternalTruckIdentifier
components:
  responses:
    ModelError:
      description: ''
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/ModelError-Response'
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/Error-Response'
    UnauthenticatedError:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/UnauthenticatedError-Response'
  schemas:
    CompanyShareableType:
      title: CompanyShareType
      x-stoplight:
        id: o6j5rtwll4fvm
      enum:
      - User
      - Equipment
      - Site
      description: ''
    CompanyShare-Read-Nested:
      title: CompanyShare-Read-Nested
      x-stoplight:
        id: makajouqsb7jq
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: s6h0nfzt2fjry
        required:
        - external_id
        - ticket_match_id
        - sender_company
        - dispatchable
        - schedule_on
        - rate_override
        - expires_at
        properties:
          external_id:
            type: string
            x-stoplight:
              id: c9ls3nrhbih3v
            nullable: true
          ticket_match_id:
            type: string
            x-stoplight:
              id: a1cd3nrhbih3v
            nullable: true
          sender_company:
            $ref: '#/components/schemas/Company-Read-Nested'
          dispatchable:
            type: boolean
            x-stoplight:
              id: kd884ihz6qi6w
          schedule_on:
            type: boolean
            x-stoplight:
              id: kd884ihz61234
          rate_override:
            type: boolean
            x-stoplight:
              id: mq4osazzielxo
          expires_at:
            type: string
            x-stoplight:
              id: aaa111jpq0ga9
            format: date-time
            description: ISO8601 timestamp with local timezone
            nullable: true
    Error-Response:
      title: Error-Response
      x-stoplight:
        id: 52cydhphee3qe
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
      additionalProperties: false
    AccountType:
      title: AccountType
      x-stoplight:
        id: i4vfmd4rwrq8p
      enum:
      - customer
      - vendor
      example: customer
    Account-External-Truck-Identifier-Read:
      title: Account-External-Truck-Identifier-Read
      x-stoplight:
        id: n2ygzbhwjvjci
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        x-stoplight:
          id: 7drowvqofpzx9
        required:
        - last_ticket_received_at
        - account
        - external_truck_id
        - vendor_account
        properties:
          last_ticket_received_at:
            type: string
            x-stoplight:
              id: jdad4m2qwp6ru
            nullable: true
          account:
            $ref: '#/components/schemas/Account-Read-Nested'
          company_share:
            $ref: '#/components/schemas/CompanyShare-Read'
          external_truck_id:
            type: string
            x-stoplight:
              id: ec1bnufk87bbo
          vendor_account:
            $ref: '#/components/schemas/Account-Read-Nested'
          customer_account:
            $ref: '#/components/schemas/Account-Read-Nested'
    TreadId:
      title: TreadId
      x-stoplight:
        id: 43k4t5tl359m4
      type: object
      required:
      - tread_id
      properties:
        tread_id:
          type: string
          x-stoplight:
            id: zi3ld7djflw6f
          pattern: ^[0-9A-F]{6}$
          minLength: 6
          maxLength: 6
          example: ABC123
          description: Tread ID
      additionalProperties: false
    Discardable:
      title: Discardable
      x-stoplight:
        id: 46axlb8u5wjay
      type: object
      required:
      - discarded_at
      properties:
        discarded_at:
          type: string
          x-stoplight:
            id: cy8t6fecoyxbo
          format: date-time
          nullable: true
      additionalProperties: false
    CompanyShare-Read:
      title: CompanyShare-Read
      x-stoplight:
        id: 3fw8no6g8e334
      allOf:
      - $ref: '#/components/schemas/CompanyShare-Read-Nested'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        x-stoplight:
          id: 5tvsur0wkmwr3
        required:
        - parent_company_share_id
        - company_shareable_id
        - company_shareable_type
        - receiver_company
        - company_shareable
        properties:
          parent_company_share_id:
            type: string
            x-stoplight:
              id: hl0lvh254bdch
            format: uuid
            nullable: true
          company_shareable_id:
            type: string
            x-stoplight:
              id: l5wwd21py5c6e
            format: uuid
            deprecated: true
          company_shareable_type:
            $ref: '#/components/schemas/CompanyShareableType'
            deprecated: true
          receiver_company:
            $ref: '#/components/schemas/Company-Read-Nested'
          company_shareable:
            $ref: '#/components/schemas/CompanyShareable-Read-Nested'
    Address-Read-Nested:
      title: Address-Read-Nested
      x-stoplight:
        id: cvym2dzuo375q
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Address-Read'
    Error:
      title: Error
      x-stoplight:
        id: 3g57kkik3l464
      type: object
      description: An Error.
      required:
      - code
      properties:
        code:
          type: string
          x-stoplight:
            id: 7o9x1t8v0bgfo
      additionalProperties: false
    ModelError-Item:
      title: ModelError-Item
      x-stoplight:
        id: b93chwval2t8d
      type: object
      required:
      - model
      - field
      - message
      properties:
        model:
          type: string
          x-stoplight:
            id: 30myfyjkno8ao
          description: The Model associated with this Error
        field:
          type: string
          x-stoplight:
            id: 8gl4ed3uxhdws
          description: The field associated with this Error
        message:
          type: string
          x-stoplight:
            id: bmgbrtmw17qsj
          description: The Error message
      additionalProperties: false
    UnauthenticatedError:
      title: UnauthenticatedError
      x-stoplight:
        id: 202o69l0fs40h
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        x-stoplight:
          id: tg10dt7s0l6bw
        properties:
          error_type:
            type: string
            x-stoplight:
              id: wvq8c0qsym4hz
        required:
        - error_type
    ModelError:
      title: ModelError
      x-stoplight:
        id: nhp6714o4j1qt
      description: A Model-specific error
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        required:
        - errors
        properties:
          errors:
            type: array
            x-stoplight:
              id: m4ul9vcq2deh6
            items:
              $ref: '#/components/schemas/ModelError-Item'
    Timestamps:
      title: Timestamps
      x-stoplight:
        id: t82ecgfu0oj00
      type: object
      required:
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          x-stoplight:
            id: gjj950jpq0ga9
          format: date-time
          description: ISO8601 timestamp with local timezone
        updated_at:
          type: string
          x-stoplight:
            id: bwcuyfwc7aj0e
          format: date-time
          description: ISO8601 timestamp with local timezone
      additionalProperties: false
    Identifier:
      title: Identifier
      x-stoplight:
        id: gnd39lue5v7ol
      type: object
      required:
      - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 2e38hjk4zd58m
          format: uuid
      additionalProperties: false
    Contact-Read-Nested:
      title: Contact-Read-Nested
      x-stoplight:
        id: 3u6d8qhsz5ehn
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - email
        - phone
        properties:
          name:
            type: string
            x-stoplight:
              id: sd80y9pbgvkok
            nullable: true
          email:
            type: string
            x-stoplight:
              id: 883fmt34pdeaj
            nullable: true
          phone:
            type: string
            x-stoplight:
              id: wdtqyju4t4u06
            example: '+18885551234'
            nullable: true
      description: ''
    Company-Read-Nested:
      title: Company-Read-Nested
      x-stoplight:
        id: cb2kn77qmf1l7
      description: Compact Company model for nested reads.
      allOf:
      - $ref: '#/components/schemas/Identifier'
        x-stoplight:
          id: jwsufva4znm91
      - $ref: '#/components/schemas/TreadId'
      - type: object
        properties:
          legal_name:
            type: string
            x-stoplight:
              id: yc10t8hieecwk
            description: The Company's name. Must be globally unique.
          company_type:
            $ref: '#/components/schemas/CompanyType'
        required:
        - legal_name
        - company_type
    Account-External-Truck-Identifier-Update:
      title: Account-External-Truck-Identifier-Update
      x-stoplight:
        id: 6mxvtqu0gyhox
      type: object
      properties:
        company_share_id:
          type: string
          x-stoplight:
            id: uc5wqezq5b80g
          nullable: true
      additionalProperties: false
    CompanyType:
      title: CompanyType
      x-stoplight:
        id: dkzo7gjbtb1b3
      enum:
      - broker
      - contractor
      - hauler
      - owner_operator
      - producer
      - super
      example: hauler
      description: Company Type
    Account-Read-Nested:
      title: Account-Read-Nested
      x-stoplight:
        id: zo8r3gsz1tm5h
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Discardable'
      - type: object
        x-stoplight:
          id: gl7hua7pv8xka
        required:
        - name
        - account_types
        - external_id
        - accounting_id
        - company
        - schedule_on
        properties:
          name:
            type: string
            x-stoplight:
              id: a7g065w5byfcf
          account_types:
            type: array
            x-stoplight:
              id: a0e9c3lpr1wad
            items:
              $ref: '#/components/schemas/AccountType'
          external_id:
            type: string
            x-stoplight:
              id: yfrec4y0a90cb
            nullable: true
          accounting_id:
            type: string
            x-stoplight:
              id: yfsec5y0a91cb
            nullable: true
          company:
            type: object
            x-stoplight:
              id: 9loqtu14mvlnq
            required:
            - id
            properties:
              id:
                type: string
                x-stoplight:
                  id: udjkdjrz08pzr
                format: uuid
          billing_address:
            $ref: '#/components/schemas/Address-Read-Nested'
          schedule_on:
            type: boolean
            x-stoplight:
              id: 0g9kx77zym4ok
          connected_company:
            $ref: '#/components/schemas/Company-Read-Nested'
          billing_contact:
            $ref: '#/components/schemas/Contact-Read-Nested'
    Address-Read:
      title: Address-Read
      x-stoplight:
        id: v1mcd2qgns2tf
      type: object
      required:
      - thoroughfare
      - premise
      - locality
      - administrative_area
      - postal_code
      - country
      - lat
      - lon
      - place_id
      properties:
        thoroughfare:
          type: string
          x-stoplight:
            id: 8wrr7qkc9ilqn
        premise:
          type: string
          x-stoplight:
            id: z4jth408out1q
          nullable: true
        locality:
          type: string
          x-stoplight:
            id: kfby6wqpgvxbz
        administrative_area:
          type: string
          x-stoplight:
            id: c9bkrloxf4t8d
        postal_code:
          type: string
          x-stoplight:
            id: 7zq51k1mof3o3
        country:
          type: string
          x-stoplight:
            id: iydw9q619ya01
          pattern: ^[A-Z]{2}
          example: US
          minLength: 2
          maxLength: 2
        lat:
          type: string
          x-stoplight:
            id: kqu1qtf9rivh1
          description: "latitude of the `Address`. \n\nMust be a stringified number between -90 and 90 inclusive.\n\nRequired if `lon` is present."
          nullable: true
        lon:
          type: string
          x-stoplight:
            id: oly2yabkzpk9g
          description: "longitude of the `Address`. \n\nMust be a stringified number between -180 and 180 inclusive.\n\nRequired if `lat` is present."
          nullable: true
        place_id:
          type: string
          x-stoplight:
            id: im1fdq7qqxdij
          description: NextBillion placeID
          nullable: true
      additionalProperties: false
    UnauthenticatedError-Response:
      title: UnauthenticatedError-Response
      x-stoplight:
        id: o477eph7ttbzt
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthenticatedError'
      additionalProperties: false
    ModelError-Response:
      title: ModelError-Response
      x-stoplight:
        id: payf9ndh3l6np
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ModelError'
      additionalProperties: false
    CompanyShareable-Read-Nested:
      title: CompanyShareable-Read-Nested
      x-stoplight:
        id: 7gq4gh59nzv6r
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: f3fdykm0k5rid
        required:
        - name
        - type
        properties:
          name:
            type: string
            x-stoplight:
              id: m0zwbwf2ta0tr
          type:
            $ref: '#/components/schemas/CompanyShareableType'
  parameters:
    Accept-Language:
      name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    page-limit:
      name: page[limit]
      in: query
      schema:
        type: integer
        format: int32
        default: 25
        maximum: 100
      description: The maximum number of paginated results to return
    filter-missing_company_share:
      name: filter[missing_company_share]
      in: query
      required: false
      schema:
        type: boolean
      description: Only show records missing a `CompanyShare`
    page-before:
      name: page[before]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to stop paginating at
    filter-account_id:
      name: filter[account_id]
      in: query
      required: false
      schema:
        type: string
      description: Account ID filter
    page-after:
      name: page[after]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to start paginating after
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-stoplight:
  id: 75rfxjepk4523
