openapi: 3.0.3
info:
  title: Horizon API V1 AccountExternalTruckIdentifier Loads API
  version: '1.0'
  contact:
    name: Tread
    url: https://tread.io
    email: developers@tread.io
  description: 'This is the Version 1 implementation.


    When in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)'
  license:
    name: Private
    url: https://tread.io
servers:
- description: production
  url: https://api.tread-horizon.com
security:
- bearerAuth: []
tags:
- name: Loads
paths:
  /v1/companies/{company-id}/jobs/{job-id}/loads:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: job-id
      in: path
      required: true
      description: Job ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Loads of a Job for a Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: ia1jmmi76vai2
                    items:
                      $ref: '#/components/schemas/Load-LoadSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-jobs-job-id-loads
      x-stoplight:
        id: wz2pidf0emdrv
      description: Retrieve `Loads` of a `Job` for a `Company`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-ticket-flagged'
      - $ref: '#/components/parameters/filter-states-'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-material_ids'
  /v1/companies/{company-id}/loads/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Loads by Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-loads-typeahead
      x-stoplight:
        id: loadtypahead01
      description: Typeahead search against the `load_id` property for `Loads` visible to the currently authenticated `Company`.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
  /v1/companies/{company-id}/loads/{load-id}/approve:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Approve a Load as a Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-loads-load-id-approve
      x-stoplight:
        id: zmbfw03qqydlf
      description: 'Approve a `Load` by ID as a `Company`


        This endpoint requires the `approve_load` permission.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Approval-Approve'
  /v1/companies/{company-id}/loads/{load-id}/complete:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Complete a Load as a Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/StateError'
        '415':
          $ref: '#/components/responses/Error'
      operationId: put-v1-companies-company-id-loads-load-id-complete
      x-stoplight:
        id: 6nbzko679905s
      description: 'Complete a `Load` by ID as a `Company`


        This endpoint requires the `edit_job` permission or if the current user is the assigned driver'
      x-internal: true
  /v1/companies/{company-id}/loads/{load-id}/unapprove:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Unapprove a Load as a Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-loads-load-id-unapprove
      description: 'Unapprove a `Load` by ID as a `Company`


        This endpoint requires the `approve_load` permission.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: cl6r45gvy3xbm
  /v1/companies/{company-id}/orders/{order-id}/loads:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Loads of an Order for a Company
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: k8m2nqp4r5s6t
                    items:
                      $ref: '#/components/schemas/Load-LoadSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-orders-order-id-loads
      x-stoplight:
        id: h7j3k9l2m4n6p
      description: Retrieve `Loads` of an `Order` for a `Company`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-ticket-flagged'
      - $ref: '#/components/parameters/filter-states-'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-material_ids'
  /v1/companies/{company-id}/settlements/{settlement-id}/loads:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: settlement-id
      in: path
      required: true
      description: Settlement ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Loads of a Settlement
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load-LoadSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-settlements-settlement-id-loads
      description: Retrieve `Loads` of all `Orders` belonging to a `Settlement`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-ticket-flagged'
      - $ref: '#/components/parameters/filter-states-'
      - $ref: '#/components/parameters/filter-job-driver_ids'
      - $ref: '#/components/parameters/filter-job-pickup_site_ids'
      - $ref: '#/components/parameters/filter-job-dropoff_site_ids'
      - $ref: '#/components/parameters/filter-job-states'
      - $ref: '#/components/parameters/filter-job-vendor_account_ids'
      - $ref: '#/components/parameters/filter-job-material_ids'
      - $ref: '#/components/parameters/filter-material_ids'
  /v1/jobs/{job-id}/loads:
    parameters:
    - schema:
        type: string
      name: job-id
      in: path
      required: true
      description: Job ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Add a new load to a Job
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-jobs-id-loads
      x-stoplight:
        id: lup09kisyoij9
      tags:
      - Loads
      description: 'Create a `Load` by for a `Job`


        This endpoint requires the `create_loads` permission'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Load-Create'
    get:
      summary: Retrieve Loads of a Job
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: af2gavgs3876u
                    items:
                      $ref: '#/components/schemas/Load-LoadSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-jobs-job-id-loads
      x-stoplight:
        id: nfnyrh6bqz3ek
      description: Retrieve `Loads` of a `Job`.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-ticket-flagged'
      - $ref: '#/components/parameters/filter-states-'
  /v1/loads/approval:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Loads for the current Company for approval
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load-Approval-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-loads-approval
      description: Retrieve completed `Loads` for the current `Company` which are ready for the `Foreman` to approve.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-job-datagrid'
      - $ref: '#/components/parameters/filter-start_date'
      - $ref: '#/components/parameters/filter-end_date'
      x-stoplight:
        id: z51hw09mt5tai
      tags:
      - Loads
  /v1/loads/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a single Load
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-loads-id
      x-stoplight:
        id: jed5du7adixtr
      description: Retrieve `Load` by ID
    patch:
      summary: Update a Load
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: patch-v1-loads-id
      x-stoplight:
        id: af3i9voxx310f
      description: 'Update a `Load` by ID


        This endpoint requires the `edit_load` permission'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Load-Update'
    delete:
      summary: Delete a Load
      tags:
      - Loads
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: delete-v1-loads-id
      x-stoplight:
        id: nsarg5khevzu9
      description: 'Delete a `Load` by ID


        This endpoint requires the `delete_load` permission'
  /v1/loads/{load-id}/approve:
    parameters:
    - schema:
        type: string
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Approve a Load
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-loads-id-approve
      x-stoplight:
        id: q1ixgaodcz6t3
      description: 'Approve a `Load` by ID


        This endpoint requires the `approve_load` permission.'
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Approval-Approve'
  /v1/loads/{load-id}/signatures:
    parameters:
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve all Signatures for a Load
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: 3ujvqjwsh3075
                    items:
                      x-stoplight:
                        id: 1bqu386h0nlnx
                      anyOf:
                      - $ref: '#/components/schemas/DriverSignature-Read'
                      - $ref: '#/components/schemas/DropoffSignature-Read'
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-loads-load-id-signatures
      x-stoplight:
        id: 5gjvkfcb58ttk
      description: Retrieve all `Signatures` for a `Load`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
  /v1/loads/{load-id}/signatures/driver:
    parameters:
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Create or update the DriverSignature on a Load
      tags:
      - Loads
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/DriverSignature-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-loads-load-id-signatures-driver
      x-stoplight:
        id: ib24ngk4ymny2
      description: Create or update the `DriverSignature` on a `Load`.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DriverSignature-Create'
    delete:
      summary: Delete the DriverSignature from a Load
      tags:
      - Loads
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-loads-load-id-signatures-driver
      x-stoplight:
        id: giaqykshv9j4q
      description: Delete the `DriverSignature` from a `Load`.
  /v1/loads/{load-id}/signatures/dropoff:
    parameters:
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Create or update the DropoffSignature on a Load
      tags:
      - Loads
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/DropoffSignature-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-loads-load-id-signatures-dropoff
      x-stoplight:
        id: rj36ccpsiro53
      description: 'Create or update the `DropoffSignature` on a `Load`. '
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DropoffSignature-Create'
    delete:
      summary: Delete the DropoffSignature from a Load
      tags:
      - Loads
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-loads-load-id-signatures-dropoff
      x-stoplight:
        id: mqn0ibintrro9
      description: Delete the `DropoffSignature` from a `Load`
  /v1/loads/{load-id}/unapprove:
    parameters:
    - schema:
        type: string
        format: uuid
      name: load-id
      in: path
      required: true
      description: Load ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Unapprove a Load
      tags:
      - Loads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Load-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-loads-id-unapprove
      description: 'Unapprove a `Load` by ID


        This endpoint requires the `approve_load` permission.'
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-stoplight:
        id: gw8j86fn75frt
  /v1/orders/{order-id}/loads:
    parameters:
    - schema:
        type: string
        format: uuid
      name: order-id
      in: path
      required: true
      description: Order ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Loads of an Order
      tags:
      - Loads
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: m79zsypmd8iqi
                    items:
                      $ref: '#/components/schemas/Load-LoadSummary-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-orders-order-id-loads
      x-stoplight:
        id: f71l0hplsp631
      description: Retrieve `Loads` of an `Order`.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/filter-ticket-flagged'
      - $ref: '#/components/parameters/filter-states-'
components:
  schemas:
    StateError-Response:
      title: StateError-Response
      x-stoplight:
        id: i0wsk2gmnaqup
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/StateError'
      additionalProperties: false
    DropoffSignature-Create:
      title: DropoffSignature-Create
      x-stoplight:
        id: 4g1t03y1rapad
      allOf:
      - $ref: '#/components/schemas/Signature-Create'
      - type: object
        x-stoplight:
          id: ghrw5egmdgym0
        required:
        - name
        properties:
          name:
            type: string
            x-stoplight:
              id: yub424r3ytw4d
          phone:
            type: string
            x-stoplight:
              id: bnwpzbfo5qpt6
    NextBillionGeofence-Read:
      title: NextBillionGeofence-Read
      x-stoplight:
        id: 60y0z4bb3pu6m
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Geofence-Data'
    Load-Approval-Read:
      title: Load-Approval-Read
      x-stoplight:
        id: fe0o7xspns6wh
      description: This model will be used by mobile client for approvals screen.
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        required:
        - load_id
        - ordinality
        - quantity
        - state
        - foremen
        - unit_of_measure
        properties:
          load_id:
            type: string
            x-stoplight:
              id: 335o6uguk5yqj
          ordinality:
            type: integer
            x-stoplight:
              id: 05rr0kjrl6bl5
          quantity:
            type: string
            x-stoplight:
              id: vcyllp9hxavpu
          state:
            $ref: '#/components/schemas/LoadState'
          foremen:
            type: array
            x-stoplight:
              id: f6cnly3433nk4
            items:
              $ref: '#/components/schemas/User-Read-Nested'
          unit_of_measure:
            $ref: '#/components/schemas/OrderUnitOfMeasure'
          job:
            $ref: '#/components/schemas/Job-Load-Approval-Read'
          ticket:
            $ref: '#/components/schemas/Ticket-Load-Approval-Read'
    Discardable:
      title: Discardable
      x-stoplight:
        id: 46axlb8u5wjay
      type: object
      required:
      - discarded_at
      properties:
        discarded_at:
          type: string
          x-stoplight:
            id: cy8t6fecoyxbo
          format: date-time
          nullable: true
      additionalProperties: false
    Contact-Create:
      title: Contact-Create
      x-stoplight:
        id: dhro09gmoiqgw
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: ehb4vhlggledw
        email:
          type: string
          x-stoplight:
            id: kxjggao5fm38r
        phone:
          type: string
          x-stoplight:
            id: 3dxv517oimpb1
          example: '+18885551234'
          description: Contact's E.164 formatted phone number
      additionalProperties: false
    Load-LoadSummary-Read:
      title: Load-LoadSummary-Read
      x-stoplight:
        id: bpd7bhh6daa34
      allOf:
      - $ref: '#/components/schemas/Load-Read'
      - type: object
        x-stoplight:
          id: vh2cd1y6d638j
        properties:
          load_summary:
            $ref: '#/components/schemas/LoadSummary-Read-Nested'
    Destroyable:
      title: Destroyable
      x-stoplight:
        id: 2uftzhptd2l14
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: gx1ww996hmzqm
          format: uuid
          description: Required if `_destroy` is set
        _destroy:
          type: integer
          x-stoplight:
            id: 0xjwztkz4fmcr
          description: 'If this is provided with value of `1` like so `_destroy: 1` then this model will be deleted. The `id` must be set.'
      additionalProperties: false
    Waypoint-Create:
      title: Waypoint-Create
      x-stoplight:
        id: lkkjczl49mn3l
      type: object
      required:
      - type
      - site_id
      - ordinality
      properties:
        type:
          $ref: '#/components/schemas/WaypointType'
        site_id:
          type: string
          x-stoplight:
            id: qlodrw03gom0x
          format: uuid
        contact:
          $ref: '#/components/schemas/Contact-Create'
        ordinality:
          type: integer
          x-stoplight:
            id: bfpbu9vyhtn9a
      additionalProperties: false
    Timestamps:
      title: Timestamps
      x-stoplight:
        id: t82ecgfu0oj00
      type: object
      required:
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          x-stoplight:
            id: gjj950jpq0ga9
          format: date-time
          description: ISO8601 timestamp with local timezone
        updated_at:
          type: string
          x-stoplight:
            id: bwcuyfwc7aj0e
          format: date-time
          description: ISO8601 timestamp with local timezone
      additionalProperties: false
    StateError-Item:
      title: StateError-Item
      x-stoplight:
        id: dgw2jdmi7ozjj
      allOf:
      - $ref: '#/components/schemas/ModelError-Item'
      - type: object
        x-stoplight:
          id: jrgi7oapao3e5
        required:
        - state
        - event
        properties:
          state:
            type: string
            x-stoplight:
              id: mah8jye43io32
            description: The current state value of the field on this Model
          event:
            type: string
            x-stoplight:
              id: dtgu62ni9ofuh
            description: The failed state event called on the Model
    Load-Read-Typeahead:
      title: Load-Read-Typeahead
      x-stoplight:
        id: loadtypahead1
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          load_id:
            type: string
            description: Load friendly identifier
            x-stoplight:
              id: loadtypahead2
        required:
        - load_id
    Phase-Read:
      title: Phase-Read
      x-stoplight:
        id: t87rtwp61n8ry
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - code
        - primary
        properties:
          name:
            type: string
            x-stoplight:
              id: joxj6kldpdok8
          code:
            type: string
            x-stoplight:
              id: mtoxuvguckczq
            nullable: true
          primary:
            type: boolean
            x-stoplight:
              id: ww6q56py1x5wq
      - $ref: '#/components/schemas/Timestamps'
    Job-Load-Approval-Read:
      title: Job-Load-Approval-Read
      x-stoplight:
        id: 933cfrf450fz5
      description: This model will be used by mobile client for approvals screen for loads approval, job section
      allOf:
      - type: object
        required:
        - job_id
        - loads_count
        properties:
          job_id:
            type: string
            x-stoplight:
              id: 4hijfdkssv4pc
          material:
            $ref: '#/components/schemas/Material-Read-Nested'
          loads_count:
            type: integer
            x-stoplight:
              id: fqoq78a7essyu
      - $ref: '#/components/schemas/Identifier'
    Waypoint-Update-Destroyable:
      title: Waypoint-Update-Destroyable
      x-stoplight:
        id: w96rpm44miiib
      allOf:
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/WaypointType'
          site_id:
            type: string
            x-stoplight:
              id: 8quojxs0ual5a
            format: uuid
          contact:
            $ref: '#/components/schemas/Contact-Update'
          ordinality:
            type: integer
            x-stoplight:
              id: 53pb6rybmktqc
      - $ref: '#/components/schemas/Destroyable'
      description: ''
    ModelError-Response:
      title: ModelError-Response
      x-stoplight:
        id: payf9ndh3l6np
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ModelError'
      additionalProperties: false
    SignatureType:
      title: SignatureType
      x-stoplight:
        id: bj700e33yuj75
      enum:
      - DriverSignature
      - DropoffSignature
    Approval-Approve:
      title: Approval-Approve
      x-stoplight:
        id: pib85xwqwgrex
      type: object
      properties:
        external_approver_name:
          type: string
          x-stoplight:
            id: 7lmlml5incies
          nullable: true
        approval_type:
          $ref: '#/components/schemas/RequestedApprovalType'
      additionalProperties: false
    Load-Update:
      title: Load-Update
      x-stoplight:
        id: v0ymr8d638f4n
      type: object
      description: This model will be used by Load patch to update a load
      properties:
        unit_of_measure:
          $ref: '#/components/schemas/NullableOrderUnitOfMeasure'
        quantity:
          type: string
          nullable: true
        phase_id:
          type: string
          x-stoplight:
            id: z0st3hc3h204k
          format: uuid
          nullable: true
        material_id:
          type: string
          x-stoplight:
            id: i0weff06qlj7a
          format: uuid
          nullable: true
        waypoints:
          type: array
          x-stoplight:
            id: 3ui75uzk8psng
          items:
            $ref: '#/components/schemas/Waypoint-Update-Destroyable'
        material_rate_assignment:
          $ref: '#/components/schemas/MaterialRateAssignment-Update'
        notes:
          type: string
          x-stoplight:
            id: 2n1vh7vjotewt
          nullable: true
      additionalProperties: false
    GeofenceTag:
      title: GeofenceTag
      x-stoplight:
        id: anytkmb3ydi6c
      enum:
      - scaling
      - site
      - loading
      - unloading
      - check_in
      - ticketing
    ModelError-Item:
      title: ModelError-Item
      x-stoplight:
        id: b93chwval2t8d
      type: object
      required:
      - model
      - field
      - message
      properties:
        model:
          type: string
          x-stoplight:
            id: 30myfyjkno8ao
          description: The Model associated with this Error
        field:
          type: string
          x-stoplight:
            id: 8gl4ed3uxhdws
          description: The field associated with this Error
        message:
          type: string
          x-stoplight:
            id: bmgbrtmw17qsj
          description: The Error message
      additionalProperties: false
    ModelError:
      title: ModelError
      x-stoplight:
        id: nhp6714o4j1qt
      description: A Model-specific error
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        required:
        - errors
        properties:
          errors:
            type: array
            x-stoplight:
              id: m4ul9vcq2deh6
            items:
              $ref: '#/components/schemas/ModelError-Item'
    Load-Read-Nested:
      title: Load-Read-Nested
      x-stoplight:
        id: zpc98ohudvz2m
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: 4rcl2v4mcwxe5
        required:
        - quantity
        - unit_of_measure
        - load_id
        - ordinality
        properties:
          quantity:
            type: string
            x-stoplight:
              id: 3crm24cakhqhf
            nullable: true
          unit_of_measure:
            $ref: '#/components/schemas/NullableOrderUnitOfMeasure'
          load_id:
            type: string
            x-stoplight:
              id: xwweeqwdfh9pg
          ordinality:
            type: integer
            x-stoplight:
              id: 4xdv8c9e9p4o8
          ticket:
            $ref: '#/components/schemas/Ticket-Read-Nested'
    NullableGeofenceType:
      title: NullableGeofenceType
      x-stoplight:
        id: ii94t82oqh5xo
      allOf:
      - $ref: '#/components/schemas/GeofenceType'
      nullable: true
      type: string
    OrderUnitOfMeasure:
      title: OrderUnitOfMeasure
      x-stoplight:
        id: kahcgn7w8swdv
      enum:
      - Load
      - Tonne
      - Ton
      - Yard
      - Meter
      - Foot
      - Liter
      - Hour
      - Bushel
      - Gallon
      - CubicMeter
      - Mile
      - Kilometer
      - Barrel
      - Bag
      - Pallet
      example: Load
    MaterialRateAssignmentable:
      title: MaterialRateAssignmentable
      x-stoplight:
        id: hb9gpvhsr3aj4
      type: object
      properties:
        material_rate_assignment:
          $ref: '#/components/schemas/MaterialRateAssignment-Read-Nested'
      additionalProperties: false
    Ticket-Read-Nested:
      title: Ticket-Read-Nested
      x-stoplight:
        id: sxhhxkcgkj6ep
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: u7esfoogq8q49
        required:
        - ticket_number
        - preview_url
        properties:
          ticket_number:
            type: string
            x-stoplight:
              id: kzx5yw8vvwbra
            nullable: true
          preview_url:
            type: string
            x-stoplight:
              id: h1do11irp24bw
            format: uri
            nullable: true
    MaterialRateAssignment-Read-Nested:
      title: MaterialRateAssignment-Read-Nested
      x-stoplight:
        id: iddmbrcip2me5
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - sell_price
        - buy_price
        - unit_of_measure
        properties:
          sell_price:
            type: string
            x-stoplight:
              id: i2ac5k345i0bx
            nullable: true
          buy_price:
            type: string
            x-stoplight:
              id: 66qhs855s4pne
            nullable: true
          unit_of_measure:
            $ref: '#/components/schemas/NullableOrderUnitOfMeasure'
          site:
            $ref: '#/components/schemas/Site-Read-Nested'
    User-Read-Typeahead:
      title: User-Read-Typeahead
      x-stoplight:
        id: ttbbss5b5k66f
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - first_name
        - last_name
        properties:
          first_name:
            type: string
            description: First name
            x-stoplight:
              id: gwo999rcdahmg
          last_name:
            type: string
            description: Last name
            x-stoplight:
              id: l9omnnsq644bh
      description: ''
    Material-Read-Nested:
      title: Material-Read-Nested
      x-stoplight:
        id: 5hvekq1lnr9ku
      type: object
      required:
      - id
      - name
      - external_id
      properties:
        id:
          type: string
          x-stoplight:
            id: c6nool5iljv3l
          format: uuid
        name:
          type: string
          x-stoplight:
            id: bsd3m2c74jis8
        external_id:
          type: string
          description: Material external_id
          x-stoplight:
            id: ab0l0yvuz5u6d
          nullable: true
      additionalProperties: false
    LoadSummary-Read-Nested:
      title: LoadSummary-Read-Nested
      x-stoplight:
        id: uoiw3xfqelvn0
      type: object
      required:
      - arrived_pickup_at
      - pickup_time_minutes
      - arrived_dropoff_at
      - dropoff_time_minutes
      - load_completed_at
      - loaded_at
      - unloaded_at
      - gps_minutes
      - has_gps_data
      - editable
      - travelled_distance_meters
      properties:
        arrived_pickup_at:
          type: string
          x-stoplight:
            id: mdew1ud6cbyhw
          format: date-time
          nullable: true
        pickup_time_minutes:
          type: integer
          x-stoplight:
            id: uc6b5zboqwf0h
        arrived_dropoff_at:
          type: string
          x-stoplight:
            id: esomolv4kx3xw
          format: date-time
          nullable: true
        dropoff_time_minutes:
          type: integer
          x-stoplight:
            id: chyvwwwbvxomq
        load_completed_at:
          type: string
          x-stoplight:
            id: aaavwwwbvxomq
          format: date-time
          nullable: true
        loaded_at:
          type: string
          x-stoplight:
            id: oqpdvyv4jzgwh
          format: date-time
          nullable: true
        unloaded_at:
          type: string
          x-stoplight:
            id: 9efdgjzklr53v
          format: date-time
          nullable: true
        gps_minutes:
          type: integer
          x-stoplight:
            id: qe0o5rkv58ph0
          minimum: 0
        has_gps_data:
          type: boolean
          x-stoplight:
            id: dgva6rsrz0vu1
        editable:
          type: boolean
          x-stoplight:
            id: 278ccz8ncalvb
          readOnly: true
        travelled_distance_meters:
          type: string
          x-stoplight:
            id: td4q7r8s9t0u1
          nullable: true
      additionalProperties: false
    RoleApprovable:
      title: RoleApprovable
      x-stoplight:
        id: fie0647l1zmho
      type: object
      required:
      - approved
      - approvable
      - unapprovable
      - billing_approved_at
      - field_approved_at
      properties:
        approved:
          type: boolean
          x-stoplight:
            id: je3f3e9kzi9d8
        approvable:
          type: boolean
          x-stoplight:
            id: 3e8gmlshlm661
        unapprovable:
          type: boolean
          x-stoplight:
            id: 7t2cltf0njxtj
        billing_approved_at:
          type: string
          x-stoplight:
            id: f2bkkw0znb1uy
          format: date-time
          nullable: true
        field_approved_at:
          type: string
          x-stoplight:
            id: 78l5n1sakfgl3
          format: date-time
          nullable: true
      additionalProperties: false
    Approval-Status:
      title: Approval-Status
      x-stoplight:
        id: aegeztn5w5roc
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - biller_approved
        - company_admin_approved
        - driver_approved
        - foreman_approved
        - billing_approved_at
        - field_approved_at
        properties:
          biller_approved:
            type: boolean
            x-stoplight:
              id: nfc3nt03sl8bb
          company_admin_approved:
            type: boolean
            x-stoplight:
              id: 7h8yut8t1gc5m
          driver_approved:
            type: boolean
            x-stoplight:
              id: a5dbhqhyfjyvc
          foreman_approved:
            type: boolean
            x-stoplight:
              id: s1mr5k2nb6pp9
          billing_approved_at:
            type: string
            x-stoplight:
              id: igwmhwlt4rljp
            format: date-time
            nullable: true
          field_approved_at:
            type: string
            x-stoplight:
              id: ewrpq44soitt8
            format: date-time
            nullable: true
      description: Approval status
    DriverSignature-Create:
      $ref: '#/components/schemas/Signature-Create'
    Address-Read-Nested:
      title: Address-Read-Nested
      x-stoplight:
        id: cvym2dzuo375q
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Address-Read'
    Error:
      title: Error
      x-stoplight:
        id: 3g57kkik3l464
      type: object
      description: An Error.
      required:
      - code
      properties:
        code:
          type: string
          x-stoplight:
            id: 7o9x1t8v0bgfo
      additionalProperties: false
    UnauthenticatedError:
      title: UnauthenticatedError
      x-stoplight:
        id: 202o69l0fs40h
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        x-stoplight:
          id: tg10dt7s0l6bw
        properties:
          error_type:
            type: string
            x-stoplight:
              id: wvq8c0qsym4hz
        required:
        - error_type
    StateError:
      title: StateError
      x-stoplight:
        id: zgcsl4t8bsn3c
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        x-stoplight:
          id: ntvt2atfotcge
        required:
        - errors
        properties:
          errors:
            type: array
            x-stoplight:
              id: noi1jg6o8psl7
            items:
              $ref: '#/components/schemas/StateError-Item'
    WaypointType:
      title: WaypointType
      x-stoplight:
        id: a8567v0zl3pi3
      enum:
      - pickup
      - drop_off
      - weigh_point
      example: pickup
    Identifier:
      title: Identifier
      x-stoplight:
        id: gnd39lue5v7ol
      type: object
      required:
      - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 2e38hjk4zd58m
          format: uuid
      additionalProperties: false
    Contact-Read-Nested:
      title: Contact-Read-Nested
      x-stoplight:
        id: 3u6d8qhsz5ehn
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - email
        - phone
        properties:
          name:
            type: string
            x-stoplight:
              id: sd80y9pbgvkok
            nullable: true
          email:
            type: string
            x-stoplight:
              id: 883fmt34pdeaj
            nullable: true
          phone:
            type: string
            x-stoplight:
              id: wdtqyju4t4u06
            example: '+18885551234'
            nullable: true
      description: ''
    Signature-Create:
      title: Signature-Create
      x-stoplight:
        id: vvpo8xw5a6phf
      type: object
      required:
      - image
      properties:
        lat:
          type: number
          x-stoplight:
            id: bzojplevcikrm
          minimum: -90
          maximum: 90
          nullable: true
        lon:
          type: number
          x-stoplight:
            id: wdi9m9b6m71ka
          minimum: -180
          maximum: 180
          nullable: true
        image:
          type: string
          x-stoplight:
            id: 6y01erfgccb8l
          format: binary
      additionalProperties: false
    MaterialRateAssignment-Update:
      title: MaterialRateAssignment-Update
      x-stoplight:
        id: r5upqq4wfyxwu
      type: object
      properties:
        sell_price:
          type: number
          x-stoplight:
            id: 7kiapccrr6e48
          nullable: true
        buy_price:
          type: number
          x-stoplight:
            id: qp93icq41x7yo
          nullable: true
        unit_of_measure:
          $ref: '#/components/schemas/NullableOrderUnitOfMeasure'
        site_id:
          type: string
          x-stoplight:
            id: zggnghj7lj6hp
          format: uuid
          nullable: true
      additionalProperties: false
    Contact-Update:
      title: Contact-Update
      x-stoplight:
        id: p2ny8u55sfpcx
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: wm2na5bv2uvvv
        email:
          x-stoplight:
            id: mdv25imtbstfh
          type: string
        phone:
          type: string
          x-stoplight:
            id: rtf4rqlgwt35i
          example: '+18885551234'
      additionalProperties: false
    LoadState:
      title: LoadState
      x-stoplight:
        id: 4gkn8rmkg2f8b
      enum:
      - created
      - to_pickup
      - arrived_pickup
      - loaded
      - to_dropoff
      - arrived_dropoff
      - unloaded
      - completed
      - canceled
      - paused
      example: created
      default: created
      readOnly: true
    Signature-Read:
      title: Signature-Read
      x-stoplight:
        id: tdfex6ug1m32n
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: csvfey7448ht4
        required:
        - lat
        - lon
        - image_url
        - image_mime_type
        - image_name
        - type
        - signable_type
        - signable_id
        properties:
          lat:
            type: string
            x-stoplight:
              id: 778pgryz3ejzq
            nullable: true
          lon:
            type: string
            x-stoplight:
              id: i19gbsjmeopj6
            nullable: true
          image_url:
            type: string
            x-stoplight:
              id: hvalrtpme3uks
            format: uri
            nullable: true
          image_mime_type:
            type: string
            x-stoplight:
              id: 47o0osx3ai8nn
            nullable: true
          image_name:
            type: string
            x-stoplight:
              id: ydfcqwykmz8jm
            nullable: true
          type:
            $ref: '#/components/schemas/SignatureType'
          signable_type:
            type: string
            x-stoplight:
              id: sig1nabletype001
            description: The type of the parent resource (Load, Job, or DriverDay)
          signable_id:
            type: string
            x-stoplight:
              id: sig1nableid0001
            format: uuid
            description: The ID of the parent resource
    Site-Read-Nested:
      title: Site-Read-Nested
      x-stoplight:
        id: rt6xqxsfzf4iv
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - lat
        - lon
        - full_address
        - routable
        properties:
          name:
            type: string
            x-stoplight:
              id: 7r0x7wicrvwyy
          lat:
            type: string
            x-stoplight:
              id: cr6y5v0hdl5oo
            nullable: true
          lon:
            type: string
            x-stoplight:
              id: f23mkvamncbuw
            nullable: true
          address:
            $ref: '#/components/schemas/Address-Read-Nested'
          full_address:
            type: string
            x-stoplight:
              id: uxixxnmgfi47i
            nullable: true
          routable:
            type: boolean
            x-stoplight:
              id: uobfxkm0hujhv
          next_billion_geofence:
            $ref: '#/components/schemas/NextBillionGeofence-Read'
      - $ref: '#/components/schemas/Discardable'
    UnauthenticatedError-Response:
      title: UnauthenticatedError-Response
      x-stoplight:
        id: o477eph7ttbzt
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthenticatedError'
      additionalProperties: false
    DropoffSignature-Read:
      title: DropoffSignature-Read
      x-stoplight:
        id: kb8wgmw74nqxa
      allOf:
      - $ref: '#/components/schemas/Signature-Read'
      - type: object
        x-stoplight:
          id: np1uqfvs696bd
        required:
        - name
        - phone
        properties:
          name:
            type: string
            x-stoplight:
              id: 8jipuq2iiy5l7
          phone:
            type: string
            x-stoplight:
              id: d4fw5zj727sdf
            nullable: true
    Error-Response:
      title: Error-Response
      x-stoplight:
        id: 52cydhphee3qe
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
      additionalProperties: false
    AiReview-Read-Nested:
      title: AiReview-Read-Nested
      type: object
      x-stoplight:
        id: ai8r3v2ewn3st
      description: An AI-generated review nested within its parent entity.
      required:
      - id
      - status
      - confidence
      - summary
      - reasoning
      - issues
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the AI review
        status:
          type: string
          enum:
          - flagged
          - unreadable
          - duplicate
          - approved
          description: The AI review status
        confidence:
          type: string
          description: AI confidence score from 0.00 to 1.00
          nullable: true
        summary:
          type: string
          description: Brief human-readable summary of the review outcome
          nullable: true
        reasoning:
          type: string
          description: Detailed explanation of the AI decision
          nullable: true
        issues:
          type: array
          items:
            type: string
          description: List of issues found during review
        created_at:
          type: string
          format: date-time
          description: When the review was created
        updated_at:
          type: string
          format: date-time
          description: When the review was last updated
      additionalProperties: false
    GeofenceType:
      title: GeofenceType
      x-stoplight:
        id: geahowr9r8ly1
      nullable: true
      enum:
      - moving
      - circle
      - polygon
      readOnly: true
    Load-Create:
      title: Load-Create
      x-stoplight:
        id: rg2gf9p237akg
      type: object
      x-tags:
      - Loads
      properties:
        quantity:
          type: number
          deprecated: true
          nullable: true
        unit_of_measure:
          $ref: '#/components/schemas/NullableOrderUnitOfMeasure'
        phase_id:
          type: string
          x-stoplight:
            id: 3t58lbscqn004
          format: uuid
          deprecated: true
          nullable: true
        material_id:
          type: string
          x-stoplight:
            id: k6c26tj955xei
          format: uuid
          nullable: true
        waypoints:
          type: array
          x-stoplight:
            id: p47pr83e2gbb9
          items:
            $ref: '#/components/schemas/Waypoint-Create'
        notes:
          type: string
          x-stoplight:
            id: 5exwcm4v2lcr4
          nullable: true
        material_rate_assignment:
          $ref: '#/components/schemas/MaterialRateAssignment-Update'
      description: 'Deprecation notes:

        - `quantity` is deprecated and will be default based on the `Job#attributes_for_load`

        - `unit_of_measure` is deprecated and will be default based on the `Job#attributes_for_load`

        - `phase_id` is deprecated and will be default based on the `Job#attributes_for_load`'
      additionalProperties: false
    DriverSignature-Read:
      $ref: '#/components/schemas/Signature-Read'
      title: DriverSignature-Read
      description: ''
    RequestedApprovalType:
      title: RequestedApprovalType
      x-stoplight:
        id: 2qzekamelz3vv
      enum:
      - driver
      - foreman
      - biller
      - company_admin
      nullable: true
    Load-Read:
      title: Load-Read
      x-stoplight:
        id: bc1mwlgcjbftc
      allOf:
      - $ref: '#/components/schemas/Load-Read-Nested'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        required:
        - job_id
        - state
        - waypoints
        - notes
        - approved_at
        properties:
          foremen:
            type: array
            x-stoplight:
              id: 8rry07il0s1gx
            items:
              $ref: '#/components/schemas/User-Read-Nested'
          job_id:
            type: string
          state:
            $ref: '#/components/schemas/LoadState'
          phase:
            $ref: '#/components/schemas/Phase-Read'
          material:
            $ref: '#/components/schemas/Material-Read-Nested'
          waypoints:
            type: array
            x-stoplight:
              id: qvkaurm9getzl
            items:
              $ref: '#/components/schemas/Waypoint-Read-Nested'
          notes:
            type: string
            x-stoplight:
              id: r4c2vl4mcwxe5
            nullable: true
          approved_at:
            type: string
            x-stoplight:
              id: 67al3lns17iw
            format: date-time
            nullable: true
          approval_status:
            $ref: '#/components/schemas/Approval-Status'
          ai_review:
            $ref: '#/components/schemas/AiReview-Read-Nested'
      - type: object
        $ref: '#/components/schemas/RoleApprovable'
      - $ref: '#/components/schemas/MaterialRateAssignmentable'
    Ticket-Load-Approval-Read:
      title: Ticket-Load-Approval-Read
      x-stoplight:
        id: evazca6zh8g8x
      description: This model will be used by mobile client for approvals screen for loads approval, ticket section.
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - image_url
        - ticket_number
        - created_at
        properties:
          image_url:
            type: string
            x-stoplight:
              id: hqaprdh4iljv0
            format: uri
            nullable: true
          ticket_number:
            x-stoplight:
              id: 799mj4fi2y2qx
            type: string
            nullable: true
          created_at:
            type: string
            x-stoplight:
              id: 098o4h7evay63
            format: date-time
    Address-Read:
      title: Address-Read
      x-stoplight:
        id: v1mcd2qgns2tf
      type: object
      required:
      - thoroughfare
      - premise
      - locality
      - administrative_area
      - postal_code
      - country
      - lat
      - lon
      - place_id
      properties:
        thoroughfare:
          type: string
          x-stoplight:
            id: 8wrr7qkc9ilqn
        premise:
          type: string
          x-stoplight:
            id: z4jth408out1q
          nullable: true
        locality:
          type: string
          x-stoplight:
            id: kfby6wqpgvxbz
        administrative_area:
          type: string
          x-stoplight:
            id: c9bkrloxf4t8d
        postal_code:
          type: string
          x-stoplight:
            id: 7zq51k1mof3o3
        country:
          type: string
          x-stoplight:
            id: iydw9q619ya01
          pattern: ^[A-Z]{2}
          example: US
          minLength: 2
          maxLength: 2
        lat:
          type: string
          x-stoplight:
            id: kqu1qtf9rivh1
          description: "latitude of the `Address`. \n\nMust be a stringified number between -90 and 90 inclusive.\n\nRequired if `lon` is present."
          nullable: true
        lon:
          type: string
          x-stoplight:
            id: oly2yabkzpk9g
          description: "longitude of the `Address`. \n\nMust be a stringified number between -180 and 180 inclusive.\n\nRequired if `lat` is present."
          nullable: true
        place_id:
          type: string
          x-stoplight:
            id: im1fdq7qqxdij
          description: NextBillion placeID
          nullable: true
      additionalProperties: false
    Geofence-Data:
      title: Geofence-Data
      x-stoplight:
        id: ay73k76oae8gm
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-stoplight:
            id: m9n8p7q6r5s4t
          description: NextBillionGeofence ID
        geofence:
          type: object
          x-stoplight:
            id: bo67u046r1ibk
          required:
          - name
          - type
          properties:
            id:
              type: string
              x-stoplight:
                id: nm2o97jli2zqm
              format: uuid
              description: NextBillion Geofence ID
            name:
              type: string
              x-stoplight:
                id: x5sp8wq8d2ack
            type:
              type: string
              x-stoplight:
                id: d91rv1gbtfkm0
              description: '`circle` or `polygon`'
            geojson:
              type: object
              x-stoplight:
                id: vk7dx7ipdbuxa
              required:
              - type
              - coordinates
              properties:
                type:
                  type: string
                  x-stoplight:
                    id: 65qatpxdox3e9
                  description: type should be `Polygon`
                coordinates:
                  type: array
                  x-stoplight:
                    id: 3an8g587wblcs
                  description: 'This should be an enclosed polygon.


                    Example format:

                    [[[-118.226140484,34.048200454],[-118.22616052,34.046872766],[-118.226198738,34.04952736],[-118.226140484,34.048200454]]]'
                  items:
                    x-stoplight:
                      id: 2kltvjxl5xks6
                    type: array
                    items:
                      x-stoplight:
                        id: k93dt39dghru4
                      type: array
                      items: {}
            circle_center:
              type: object
              x-stoplight:
                id: 6xr3h683f7cl9
              required:
              - lat
              - lon
              properties:
                lat:
                  type: number
                  x-stoplight:
                    id: y70xc1ptapv1g
                lon:
                  type: number
                  x-stoplight:
                    id: uy3twrpcueq9m
            circle_radius:
              type: number
              x-stoplight:
                id: qrnq301sqfl3d
            tag:
              x-stoplight:
                id: debfy3x1l48zc
              enum:
              - pickup
              - loading
              - drop_off
              - unloading
              - check_in
              - scaling
              - ticketing
              deprecated: true
        moving_geofence:
          type: boolean
          x-stoplight:
            id: y15533dbr62js
          default: false
        tag:
          $ref: '#/components/schemas/GeofenceTag'
        geofence_type:
          $ref: '#/components/schemas/NullableGeofenceType'
      additionalProperties: false
    Waypoint-Read-Nested:
      title: Waypoint-Read-Nested
      x-stoplight:
        id: s7xrqujvsvhq0
      allOf:
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/WaypointType'
          ordinality:
            type: integer
            x-stoplight:
              id: fn4w5zg9n1hyl
          contact:
            $ref: '#/components/schemas/Contact-Read-Nested'
          site:
            $ref: '#/components/schemas/Site-Read-Nested'
        required:
        - type
        - ordinality
        - site
      - $ref: '#/components/schemas/Identifier'
    NullableOrderUnitOfMeasure:
      title: NullableOrderUnitOfMeasure
      x-stoplight:
        id: rtlna368z495u
      allOf:
      - $ref: '#/components/schemas/OrderUnitOfMeasure'
      type: string
      nullable: true
    User-Read-Nested:
      title: User-Read-Nested
      x-stoplight:
        id: llvhpyfas0ekp
      allOf:
      - $ref: '#/components/schemas/User-Read-Typeahead'
      - $ref: '#/components/schemas/Discardable'
      - type: object
        x-stoplight:
          id: 6i4ku1oj5jnjs
        required:
        - email
        - phone
        - external_id
        - schedule_on
        properties:
          email:
            type: string
            x-stoplight:
              id: lyetvi4zixhq9
            nullable: true
          phone:
            type: string
            x-stoplight:
              id: 5dyog3jwd9m72
            description: User's E.164 formatted phone number
            nullable: true
          external_id:
            type: string
            x-stoplight:
              id: nk3qk35smj1ej
            nullable: true
          schedule_on:
            type: boolean
            x-stoplight:
              id: 5l8bajmm29c31
  parameters:
    filter-ticket-flagged:
      name: filter[ticket][flagged]
      in: query
      required: false
      schema:
        type: boolean
      description: Filter to only loads with flagged or unflagged tickets
    filter-material_ids:
      name: filter[material_ids]
      in: query
      required: false
      schema:
        type: array
      description: The associated Material IDs
    search-job-datagrid:
      name: search[job][datagrid]
      in: query
      required: false
      schema:
        type: string
      description: Search string for datagrid queries
    filter-job-dropoff_site_ids:
      name: filter[job][dropoff_site_ids]
      in: query
      required: false
      schema:
        type: array
      description: The associated Dropoff Site IDs for the Job
    Accept-Language:
      name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    search-query:
      name: search[query]
      in: query
      required: false
      schema:
        type: string
      description: Search string for queries
    page-limit:
      name: page[limit]
      in: query
      schema:
        type: integer
        format: int32
        default: 25
        maximum: 100
      description: The maximum number of paginated results to return
    page-after:
      name: page[after]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to start paginating after
    filter-end_date:
      name: filter[end_date]
      in: query
      required: false
      schema:
        type: string
      description: End date range
    filter-job-pickup_site_ids:
      name: filter[job][pickup_site_ids]
      in: query
      required: false
      schema:
        type: array
      description: The associated Pickup Site IDs for the Job
    filter-states-:
      name: filter[states][]
      in: query
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/LoadState'
      description: Filter loads by state. Multiple states can be provided to filter loads matching any of the specified states.
    filter-start_date:
      name: filter[start_date]
      in: query
      required: false
      schema:
        type: string
      description: Start date range
    filter-job-vendor_account_ids:
      name: filter[job][vendor_account_ids]
      in: query
      required: false
      schema:
        type: array
      description: The associated Vendor Account IDs for the Job
    filter-job-driver_ids:
      name: filter[job][driver_ids]
      in: query
      required: false
      schema:
        type: array
      description: The assigned Driver IDs for the Job
    filter-job-material_ids:
      name: filter[job][material_ids]
      in: query
      required: false
      schema:
        type: array
      description: The associated Material IDs for the Job
    filter-job-states:
      name: filter[job][states]
      in: query
      required: false
      schema:
        type: array
      description: Job states
    page-before:
      name: page[before]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to stop paginating at
  responses:
    ModelError:
      description: ''
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/ModelError-Response'
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/Error-Response'
    UnauthenticatedError:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/UnauthenticatedError-Response'
    StateError:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/StateError-Response'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-stoplight:
  id: 75rfxjepk4523
