openapi: 3.0.3
info:
  title: Horizon API V1 AccountExternalTruckIdentifier Users API
  version: '1.0'
  contact:
    name: Tread
    url: https://tread.io
    email: developers@tread.io
  description: 'This is the Version 1 implementation.


    When in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)'
  license:
    name: Private
    url: https://tread.io
servers:
- description: production
  url: https://api.tread-horizon.com
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/users:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create User for a Managed Company
      operationId: post-v1-companies-company-id-managed_companies-managed-company-id-users
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: usr3bn8rq9w5uf
      description: 'Create a `User` for a Managed Company


        This endpoint requires the `create_user` permission'
      tags:
      - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User-Create'
    get:
      summary: Retrieve Users for a Managed Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    x-stoplight:
                      id: usr7xk2mn3r9pz
                    type: array
                    items:
                      $ref: '#/components/schemas/User-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: get-v1-companies-company-id-managed_companies-managed-company-id-users
      x-stoplight:
        id: usrht5kp8w2nr
      description: Retrieve `Users` for a managed company.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - schema:
          type: string
          enum:
          - execute_jobs
          - manage_sites
          - manage_materials
          - manage_equipment
          - manage_accounts
          - manage_users
        in: query
        name: filter[access]
        description: User access filter
        allowEmptyValue: true
      - $ref: '#/components/parameters/filter-iam_roles'
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/users/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search Users for a Managed Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    x-stoplight:
                      id: usr9yk4no5t1rb
                    type: array
                    items:
                      $ref: '#/components/schemas/User-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-managed_companies-managed-company-id-users-typeahead
      x-stoplight:
        id: usr0zm5op6u2sc
      description: Typeahead search for `Users` in a managed company
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/filter-iam_roles'
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/users/{id}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - schema:
        type: string
        format: uuid
      name: id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve User by ID for a Managed Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-managed_companies-managed-company-id-users-id
      x-stoplight:
        id: usr8xk3mn4s0qa
      description: Retrieve `User` by ID for a Managed Company
    patch:
      summary: Update User for a Managed Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: patch-v1-companies-company-id-managed_companies-managed-company-id-users-id
      x-stoplight:
        id: usr9yl4no5t1rb
      description: 'Update `User` by ID for a Managed Company


        A `User` can always update their own `Equipment` via the `equipment_id` /`additional_equipment_ids` properties.


        Any other updates require the `edit_user` permission.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User-Update'
    delete:
      summary: Delete User for a Managed Company
      tags:
      - Users
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: delete-v1-companies-company-id-managed_companies-managed-company-id-users-id
      x-stoplight:
        id: usr0zm5op6u2sc
      description: 'Delete `User` by ID for a Managed Company


        This endpoint requires the `delete_user` permission'
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/users/{user-id}/invite/email:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - schema:
        type: string
        format: uuid
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send an Email Invite to a User in a Managed Company
      tags:
      - Users
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    x-stoplight:
                      id: usr1adspcrg3pq
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-managed_companies-managed-company-id-users-user-id-invite-email
      x-stoplight:
        id: usrhlezr70c8g6
      description: This endpoint sends an Email invite to a `User` in a Managed Company asynchronously.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/users/{user-id}/invite/sms:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - schema:
        type: string
        format: uuid
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send an SMS Invite to a User in a Managed Company
      tags:
      - Users
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    x-stoplight:
                      id: usr1sx8dj8kbpae
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company-id-managed_companies-managed-company-id-users-user-id-invite-sms
      x-stoplight:
        id: usr186ihbacn7w
      description: This endpoint sends an SMS invite to a `User` in a Managed Company asynchronously.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company-id}/users:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Users that belong to a Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: 609yciwdv8wfy
                    items:
                      $ref: '#/components/schemas/User-Read'
                      x-stoplight:
                        id: 0cb21ff0w1taw
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-users
      description: "Retrieve `Users` for a `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `first_name`\n * `last_name`\n * `email`\n * `phone`\n * `company.legal_name`\n * `iam_roles.name`\n\nNote:\n- `filter[iam_roles]` array are applied as `OR` in the query"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - schema:
          type: string
          enum:
          - execute_jobs
          - manage_sites
          - manage_materials
          - manage_equipment
          - manage_accounts
          - manage_users
        in: query
        name: filter[access]
        description: User access filter
        allowEmptyValue: true
      - $ref: '#/components/parameters/filter-iam_roles'
      x-internal: false
  /v1/companies/{company-id}/users/typeahead:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Users for a Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User-Read-Typeahead'
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-users-typeahead
      description: 'Typeahead search against the `first_name` and `last_name` property on `Users` for a `Company`.


        Note:

        - `filter[iam_roles]` array are applied as `OR` in the query'
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/filter-iam_roles'
      x-stoplight:
        id: 1m1zvo5unnm6v
      x-internal: true
  /v1/users:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create a User
      operationId: post-v1-users
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
                    x-stoplight:
                      id: fc68vd1prtuts
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: 'Create a `User`


        This endpoint requires the `create_user` permission'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User-Create'
      tags:
      - Users
    get:
      summary: Retrieve Users that belong to the current Company
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    x-stoplight:
                      id: sdssn4pxcl3iy
                    type: array
                    items:
                      $ref: '#/components/schemas/User-Read'
                      x-stoplight:
                        id: 29tkyj0rzkrl0
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
      - schema:
          type: string
          enum:
          - execute_jobs
          - manage_sites
          - manage_materials
          - manage_equipment
          - manage_accounts
          - manage_users
        in: query
        name: filter[access]
        description: User access filter
        allowEmptyValue: true
      - $ref: '#/components/parameters/filter-iam_roles'
      - $ref: '#/components/parameters/filter-label_ids'
      description: "Retrieve `Users` visible to your `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `first_name`\n * `last_name`\n * `email`\n * `phone`\n * `company.legal_name`\n * `iam_roles.name`\n\nNote:\n- `filter[iam_roles]` array are applied as `OR` in the query\n- `filter[label_ids]` array are applied as `OR` in the query"
  /v1/users/me:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve the current User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Me-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users-me
      description: Retrieve the current authenticated `User`
      tags:
      - Users
  /v1/users/me/access:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve current User's Access
      tags:
      - Users
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: 83mx63p61cb6q
                    items:
                      $ref: '#/components/schemas/Access-Read'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users-me-access
      x-stoplight:
        id: 8osd42hir7w7m
      description: Retrieve current `User`'s `Access`
      x-internal: true
  /v1/users/me/iam_permissions:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve Permissions granted to the current User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IamPermission-Read-Nested'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users-me-iam-permissions
      description: Retrieve the current authenticated users permissions
      tags:
      - Users
      x-stoplight:
        id: oshhefbjay9o3
  /v1/users/me/location:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Set Current Location
      tags:
      - Users
      operationId: get-v1-users-me-location
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: vpv57qj94t9zg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileDeviceLocation-Create'
      x-internal: true
      description: Set the current location for a User's Mobile Device
  /v1/users/me/locations:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Bulk Create Historical Locations
      tags:
      - Users
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: patch-v1-users-me-location
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileDeviceLocations-Create'
      x-stoplight:
        id: 01j1tm6m17rt2
      x-internal: true
      description: Record historical location data for a User's Mobile Device
  /v1/users/typeahead:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Users
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User-Read-Typeahead'
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users-typeahead
      description: 'Typeahead search against the `first_name` and `last_name` property for `Users` visible to the currently authenticated `Company`.


        Note:

        - `filter[iam_roles]` array are applied as `OR` in the query'
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/filter-iam_roles'
      x-stoplight:
        id: ot445z3l0x9vy
  /v1/users/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve User
      operationId: get-v1-users-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      x-stoplight:
        id: aa3d7et8uws3l
      description: Retrieve a `User` by ID
      tags:
      - Users
    patch:
      summary: Update a User
      operationId: patch-v1-users-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: 'Update a `User` by ID


        A `User` can always update their own `Equipment` via the `equipment_id` /`additional_equipment_ids` properties.


        Any other updates require the `edit_user` permission.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User-Update'
      tags:
      - Users
    delete:
      summary: Delete a User
      operationId: delete-v1-users-id
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-stoplight:
        id: 5x7b0jxyu11c0
      description: 'Delete a `User` by ID


        This endpoint requires the `delete_user` permission'
      tags:
      - Users
  /v1/users/{user-id}/impersonations:
    parameters:
    - schema:
        type: string
        format: uuid
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Impersonate a User
      tags:
      - Users
      responses:
        '201':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/AuthToken'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-users-user-id-impersonations
      x-stoplight:
        id: odezqsjnkifwz
      x-internal: true
      description: "Impersonate a `User`. \n\nThis endpoint requires the `impersonate` `IamPermission`. "
  /v1/users/{user-id}/invite/email:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send an Email Invite to a User
      tags:
      - Users
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    x-stoplight:
                      id: adspcrg3phakp
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-users-user-id-invite-email
      x-stoplight:
        id: hlezr70c8g6yf
      description: This endpoint sends an Email invite to a `User` asynchronously.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/users/{user-id}/invite/sms:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Send an SMS Invite to a User
      tags:
      - Users
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    x-stoplight:
                      id: sx8dj8kbpae6u
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-users-user-id-invite-sms
      x-stoplight:
        id: 86ihbacn7wppo
      description: This endpoint sends an SMS invite to a `User` asynchronously.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/users/{user-id}/scheduled_time_offs:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User Id
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create Scheduled Time Off
      tags:
      - Users
      responses:
        '201':
          description: Create Schedule Time off
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Scheduled-Time-Off-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-users-user-id-scheduled_time_offs
      x-stoplight:
        id: ubfk9lzx43bvu
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scheduled-Time-Off-Create'
      description: Create a Scheduled Time Off for a `User`
    get:
      summary: Retrieve Scheduled Time Offs for a User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Scheduled-Time-Off-Read'
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-users-user-id-scheduled-time-offs
      description: Retrieve all active `ScheduledTimeOffs` visible to your `Company` for a `User`
      x-stoplight:
        id: 02awe5qks8fom
      tags:
      - Users
  /v1/users/{user-id}/scheduled_time_offs/available:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User Id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Mark Schedule Available
      tags:
      - Users
      responses:
        '202':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-users-user-id-scheduled_time_offs-available
      x-stoplight:
        id: 1sv20rk9hgx3p
      description: Mark current `User` as available and disable any `Scheduled Time Off`
  /v1/users/{user-id}/scheduled_time_offs/unavailable:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User Id
    - $ref: '#/components/parameters/Accept-Language'
    put:
      summary: Mark Schedule Unavailable
      tags:
      - Users
      responses:
        '202':
          description: Shared Response
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-users-user-id-scheduled_time_offs-unavailable
      description: Mark current `User` as unavailable and create a new `Scheduled time off`
      x-stoplight:
        id: ofzx9cwy5ijgn
  /v1/users/{user-id}/scheduled_time_offs/{id}:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User Id
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Scheduled time off id
    - $ref: '#/components/parameters/Accept-Language'
    delete:
      summary: Delete a Scheduled Time Off
      tags:
      - Users
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: delete-v1-users-user-id-scheduled_time_offs-id
      x-stoplight:
        id: zrkopxn2l5756
      description: Delete Scheduled Time Off for a `User`
  /v1/users/{user-id}/sessions:
    parameters:
    - schema:
        type: string
      name: user-id
      in: path
      required: true
      description: User ID
    - $ref: '#/components/parameters/Accept-Language'
    delete:
      summary: Revokes all active B2B and B2B sessions for the given User
      tags:
      - Users
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-users-user-id-sessions
      description: This endpoint revokes all active B2B and B2C sessions for the given `User`
      requestBody:
        content: {}
      x-internal: true
      x-stoplight:
        id: xrvamut2wb30i
components:
  schemas:
    AccessName:
      title: AccessName
      x-stoplight:
        id: xfxqkifvw0lml
      enum:
      - manage_users
      - manage_accounts
      - manage_equipment
      - manage_materials
      - manage_sites
      - execute_jobs
      - manage_departments
      - manage_rates
      - manage_companies
      - manage_service_classes
      - mobile_tab_schedule
      - mobile_tab_driver
      - mobile_tab_submit
      - mobile_tab_approvals
      - mobile_tab_dispatch
      - mobile_tab_dispatch_pending
      - mobile_tab_assigned
      - mobile_tab_assigned_driver
      - mobile_tab_assigned_foreman
      - mobile_tab_review
      - mobile_tab_review_driver
      - mobile_tab_review_foreman
      - mobile_tab_live_map
      - mobile_tab_history
      - manage_telematics
      - manage_project_attachments
      - manage_order_attachments
      - manage_job_attachments
      - manage_load_attachments
      - mobile_tab_shift
      - manage_driver_day_attachments
      - manage_settlement_attachments
      - manage_labels
      - sales_tab
      - dispatch_tab
      - approvals_tab
      - live_map_tab
      - reports_tab
      - settings_tab
      - assigned_tab
      - assigned_tab_driver
      - assigned_tab_foreman
      - assigned_tab_salesperson
      - manage_compliance
    CompanyShare-Read-Nested:
      title: CompanyShare-Read-Nested
      x-stoplight:
        id: makajouqsb7jq
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: s6h0nfzt2fjry
        required:
        - external_id
        - ticket_match_id
        - sender_company
        - dispatchable
        - schedule_on
        - rate_override
        - expires_at
        properties:
          external_id:
            type: string
            x-stoplight:
              id: c9ls3nrhbih3v
            nullable: true
          ticket_match_id:
            type: string
            x-stoplight:
              id: a1cd3nrhbih3v
            nullable: true
          sender_company:
            $ref: '#/components/schemas/Company-Read-Nested'
          dispatchable:
            type: boolean
            x-stoplight:
              id: kd884ihz6qi6w
          schedule_on:
            type: boolean
            x-stoplight:
              id: kd884ihz61234
          rate_override:
            type: boolean
            x-stoplight:
              id: mq4osazzielxo
          expires_at:
            type: string
            x-stoplight:
              id: aaa111jpq0ga9
            format: date-time
            description: ISO8601 timestamp with local timezone
            nullable: true
    UserPreference-Notification-Read:
      title: UserPreference-Notification-Read
      x-stoplight:
        id: en73kswq7u6pz
      type: object
      properties:
        pending_job_reminder:
          type: array
          x-stoplight:
            id: rlrlm8oz7xlze
          items:
            $ref: '#/components/schemas/NotificationMethod'
        new_job_request:
          type: array
          x-stoplight:
            id: 97tsxi2fnqtoz
          items:
            $ref: '#/components/schemas/NotificationMethod'
        start_job_reminder:
          type: array
          x-stoplight:
            id: zbbti6gi7o0b9
          items:
            $ref: '#/components/schemas/NotificationMethod'
        no_location_alert:
          type: array
          x-stoplight:
            id: c2ff3yue3eq6x
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_pending_request:
          type: array
          x-stoplight:
            id: tii1qjkplsuvr
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_accepted:
          type: array
          x-stoplight:
            id: rk3i76qlgf45t
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_rejected:
          type: array
          x-stoplight:
            id: qm3x22497l6ee
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_canceled:
          type: array
          x-stoplight:
            id: vxnw52tnenqzi
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_canceled:
          type: array
          x-stoplight:
            id: wxnw52tnenqzi
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_unassigned:
          type: array
          x-stoplight:
            id: xxnw52tnenqzi
          items:
            $ref: '#/components/schemas/NotificationMethod'
        end_shift_reminder:
          type: array
          x-stoplight:
            id: yxnw52tnenqzi
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_completed:
          type: array
          items:
            $ref: '#/components/schemas/NotificationMethod'
        load_completed:
          type: array
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_state_changed:
          type: array
          x-stoplight:
            id: k9m2h7qwp3x5t
          items:
            $ref: '#/components/schemas/NotificationMethod'
      additionalProperties: false
    User-Create:
      title: User-Create
      x-stoplight:
        id: me8ky4aaxfsa8
      description: Input parameters for User creation.
      type: object
      required:
      - company_id
      - first_name
      - last_name
      - iam_role_ids
      properties:
        company_id:
          type: string
          x-stoplight:
            id: nv1pabrl7wf1u
          format: uuid
        first_name:
          type: string
          x-stoplight:
            id: 2sp0qa9e7oyvg
        last_name:
          type: string
          x-stoplight:
            id: 3vee6r0l6qxra
        iam_role_ids:
          type: array
          x-stoplight:
            id: 54aq4izha1cge
          format: uuid
          items:
            x-stoplight:
              id: 2q1vqmsd37old
            type: string
            format: uuid
        email:
          type: string
          x-stoplight:
            id: qu15zuhcmmek4
          description: 'User''s email address.


            One of email or phone is required.'
        phone:
          type: string
          x-stoplight:
            id: 3t69nheyk3pbs
          description: 'User''s E.164 formatted phone number.


            One of email or phone is required.'
          example: '+18885551234'
        time_zone:
          $ref: '#/components/schemas/TimeZone'
        send_invite:
          $ref: '#/components/schemas/SendInvite'
        external_id:
          type: string
          x-stoplight:
            id: z61varc931mf1
          nullable: true
        equipment_id:
          type: string
          x-stoplight:
            id: sxq0fk7ydi91j
          format: uuid
          nullable: true
        additional_equipment_ids:
          type: array
          x-stoplight:
            id: bow4yijkgrszd
          items:
            x-stoplight:
              id: uabm0q6kx4eti
            type: string
            format: uuid
        text_to_accept_enabled:
          type: boolean
          x-stoplight:
            id: rvne2r6livoau
        label_ids:
          type: array
          x-stoplight:
            id: lbl1d5cr8usr1
          description: Array of Label IDs to assign to this User.
          items:
            type: string
            format: uuid
      additionalProperties: false
    GpsLocation-Create:
      title: GpsLocation-Create
      x-stoplight:
        id: uv0ey7n8bhvnb
      type: object
      description: This model represents a set of data describing a GPS location
      x-internal: true
      required:
      - occurred_at
      - lat
      - lon
      - job_id
      properties:
        occurred_at:
          type: string
          x-stoplight:
            id: he217bu8y5t1s
          format: date-time
        lat:
          type: number
          x-stoplight:
            id: n0y8xwpswjjem
          maximum: 90
          minimum: -90
          format: float
          example: 43.6532
          description: The current latitude as a decimal
        lon:
          type: number
          x-stoplight:
            id: v907j90jv2v9f
          description: The current longitude as a decimal
          format: float
          example: -79.3832
          minimum: -180
          maximum: 180
        job_id:
          type: string
          x-stoplight:
            id: paqxfgr8pbwd6
          example: c07736a0-69e1-41a9-8d67-60d10be30deb
          description: The UUID of the current Job
          nullable: true
        accuracy:
          type: number
        speed_meters_per_second:
          type: number
          x-stoplight:
            id: ubba2e0g033nk
        bearing_degrees:
          type: number
          x-stoplight:
            id: conm2m09vtfas
      additionalProperties: false
    Error-Response:
      title: Error-Response
      x-stoplight:
        id: 52cydhphee3qe
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
      additionalProperties: false
    MobileDeviceLocation-Create:
      title: MobileDeviceLocation-Create
      x-stoplight:
        id: ssxdz0alpz84e
      type: object
      description: Record a Mobile Device's current location
      x-internal: true
      required:
      - device_id
      - location
      properties:
        device_id:
          type: string
          x-stoplight:
            id: xqs1vbf5jojw2
        location:
          $ref: '#/components/schemas/GpsLocation-Create'
      additionalProperties: false
    User-Me-Read:
      title: User-Me-Read
      x-stoplight:
        id: j4a1tcqky0fl3
      allOf:
      - $ref: '#/components/schemas/User-Read'
      - type: object
        x-stoplight:
          id: 661vzsxzpbu4p
        properties:
          intercom_hash:
            type: string
            x-stoplight:
              id: 7j2ioq3aphg10
            description: Intercom User verification hash
        required:
        - intercom_hash
    AccountType:
      title: AccountType
      x-stoplight:
        id: i4vfmd4rwrq8p
      enum:
      - customer
      - vendor
      example: customer
    TreadId:
      title: TreadId
      x-stoplight:
        id: 43k4t5tl359m4
      type: object
      required:
      - tread_id
      properties:
        tread_id:
          type: string
          x-stoplight:
            id: zi3ld7djflw6f
          pattern: ^[0-9A-F]{6}$
          minLength: 6
          maxLength: 6
          example: ABC123
          description: Tread ID
      additionalProperties: false
    Label-Read-Nested:
      title: Label-Read-Nested
      x-stoplight:
        id: lbl1readnest01
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          name:
            type: string
            x-stoplight:
              id: lbl1nestnm0001
            description: Label name
          color:
            type: string
            x-stoplight:
              id: lbl1nestcol001
            description: Hex color code for the label
            pattern: ^#[0-9A-Fa-f]{6}$
        required:
        - name
        - color
    Discardable:
      title: Discardable
      x-stoplight:
        id: 46axlb8u5wjay
      type: object
      required:
      - discarded_at
      properties:
        discarded_at:
          type: string
          x-stoplight:
            id: cy8t6fecoyxbo
          format: date-time
          nullable: true
      additionalProperties: false
    UserPreference-Notification-Update:
      title: UserPreference-Notification-Update
      x-stoplight:
        id: njl5wcmc5dxke
      type: object
      properties:
        pending_job_reminder:
          type: array
          x-stoplight:
            id: bo4llpqgvnirb
          items:
            $ref: '#/components/schemas/NotificationMethod'
        new_job_request:
          type: array
          x-stoplight:
            id: jj2y0hhsovwj2
          items:
            $ref: '#/components/schemas/NotificationMethod'
        start_job_reminder:
          type: array
          x-stoplight:
            id: 9ooofdwuon5m2
          items:
            $ref: '#/components/schemas/NotificationMethod'
        no_location_alert:
          type: array
          x-stoplight:
            id: f0cblm7sazl7h
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_pending_request:
          type: array
          x-stoplight:
            id: 91no0cwp2mys5
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_accepted:
          type: array
          x-stoplight:
            id: in3bpzp9lg2y7
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_rejected:
          type: array
          x-stoplight:
            id: 6k6wc9a78t5g5
          items:
            $ref: '#/components/schemas/NotificationMethod'
        order_canceled:
          type: array
          x-stoplight:
            id: qvo49zfowx4xl
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_unassigned:
          type: array
          x-stoplight:
            id: 12349zfowx4xl
          items:
            $ref: '#/components/schemas/NotificationMethod'
        end_shift_reminder:
          type: array
          x-stoplight:
            id: 45649zfowx4xl
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_canceled:
          type: array
          x-stoplight:
            id: 78949zfowx4xl
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_completed:
          type: array
          items:
            $ref: '#/components/schemas/NotificationMethod'
        load_completed:
          type: array
          items:
            $ref: '#/components/schemas/NotificationMethod'
        job_state_changed:
          type: array
          x-stoplight:
            id: r4n8j5swm2y6v
          items:
            $ref: '#/components/schemas/NotificationMethod'
      additionalProperties: false
    EquipmentType-Read-Nested:
      title: EquipmentType-Read-Nested
      x-stoplight:
        id: em46i5kysysdh
      type: object
      required:
      - id
      - name
      - system
      - external_id
      - accounting_id
      properties:
        id:
          type: string
          x-stoplight:
            id: 835oy22o6h24z
          format: uuid
        name:
          type: string
          x-stoplight:
            id: tnszefd7lypln
        system:
          type: boolean
          x-stoplight:
            id: vimoqz5e8x6gx
        external_id:
          type: string
          x-stoplight:
            id: ttaijg77qmbgk
          nullable: true
        accounting_id:
          type: string
          x-stoplight:
            id: s4rscgptv68x3
          nullable: true
      additionalProperties: false
    Scheduled-Time-Off-Read:
      title: Scheduled-Time-Off-Read
      x-stoplight:
        id: u331truw5dg23
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        x-stoplight:
          id: h8hb87yfchf0u
        required:
        - start_date
        properties:
          start_date:
            type: string
            x-stoplight:
              id: ykovozns0x8k2
            format: date-time
          end_date:
            type: string
            x-stoplight:
              id: rpad7acd8im3j
            nullable: true
      description: Scheduled Time Off
    Equipment-Read-Nested:
      title: Equipment-Read-Nested
      x-stoplight:
        id: 7ezenec7ycv5l
      allOf:
      - $ref: '#/components/schemas/Equipment-Read-Typeahead'
      - type: object
        required:
        - license_number
        - zone
        - accounting_id
        - equipment_id
        properties:
          license_number:
            type: string
            x-stoplight:
              id: hw1ooa17wsadq
            nullable: true
          zone:
            type: string
            x-stoplight:
              id: 81hr4p8yp8btv
            nullable: true
          accounting_id:
            type: string
            x-stoplight:
              id: ere9qhs4cuwhi
            nullable: true
          equipment_id:
            type: string
            x-stoplight:
              id: gt7r3iqzx2w0u
    Error:
      title: Error
      x-stoplight:
        id: 3g57kkik3l464
      type: object
      description: An Error.
      required:
      - code
      properties:
        code:
          type: string
          x-stoplight:
            id: 7o9x1t8v0bgfo
      additionalProperties: false
    Scheduled-Time-Off-Create:
      title: Scheduled-Time-Off-Create
      x-stoplight:
        id: kg82d261cjr4w
      description: Scheduled Time Off - Create
      type: object
      required:
      - start_date
      - end_date
      properties:
        start_date:
          type: string
          x-stoplight:
            id: gse6o5a3nswlz
          format: date-time
        end_date:
          type: string
          x-stoplight:
            id: jxpl58y44m2kh
          format: date-time
      additionalProperties: false
    IamPermission-Read-Nested:
      title: IamPermission-Read-Nested
      x-stoplight:
        id: mtvjsbhl2oce0
      type: object
      required:
      - name
      properties:
        name:
          type: string
          x-stoplight:
            id: kawn9mxmqnqfa
      additionalProperties: false
    ModelError-Item:
      title: ModelError-Item
      x-stoplight:
        id: b93chwval2t8d
      type: object
      required:
      - model
      - field
      - message
      properties:
        model:
          type: string
          x-stoplight:
            id: 30myfyjkno8ao
          description: The Model associated with this Error
        field:
          type: string
          x-stoplight:
            id: 8gl4ed3uxhdws
          description: The field associated with this Error
        message:
          type: string
          x-stoplight:
            id: bmgbrtmw17qsj
          description: The Error message
      additionalProperties: false
    UnauthenticatedError:
      title: UnauthenticatedError
      x-stoplight:
        id: 202o69l0fs40h
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        x-stoplight:
          id: tg10dt7s0l6bw
        properties:
          error_type:
            type: string
            x-stoplight:
              id: wvq8c0qsym4hz
        required:
        - error_type
    Access-Read:
      title: Access-Read
      x-stoplight:
        id: 3c7it51r82hzg
      type: object
      x-internal: true
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/AccessName'
      additionalProperties: false
    ModelError:
      title: ModelError
      x-stoplight:
        id: nhp6714o4j1qt
      description: A Model-specific error
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        required:
        - errors
        properties:
          errors:
            type: array
            x-stoplight:
              id: m4ul9vcq2deh6
            items:
              $ref: '#/components/schemas/ModelError-Item'
    User-Read:
      title: User-Read
      x-stoplight:
        id: 6ujqph9bhsa1a
      allOf:
      - $ref: '#/components/schemas/User-Read-Nested'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        required:
        - company
        - iam_roles
        - stytch_member_id
        - stytch_member_status
        - stytch_phone_id
        - stytch_user_id
        - stytch_user_status
        - additional_equipment
        - time_zone
        - preferences
        - text_to_accept_enabled
        - last_login_at
        - labels
        properties:
          company:
            $ref: '#/components/schemas/Company-Read-Nested'
          iam_roles:
            x-stoplight:
              id: qye9bcp0y5uul
            type: array
            items:
              $ref: '#/components/schemas/IamRole-Read-Nested'
          stytch_member_id:
            type: string
            x-stoplight:
              id: ix2syq5ftfe9u
            description: Stytch B2B Member ID for this `User`.
            nullable: true
          stytch_member_status:
            $ref: '#/components/schemas/StytchMemberStatus'
          stytch_phone_id:
            type: string
            x-stoplight:
              id: 2svrmu9cyyrds
            description: Stytch B2C Phone ID for this `User`.
            nullable: true
          stytch_user_id:
            type: string
            x-stoplight:
              id: qdkap3qlietsh
            description: Stytch B2C User ID for this `User`.
            nullable: true
          stytch_user_status:
            $ref: '#/components/schemas/StytchMemberStatus'
          equipment:
            $ref: '#/components/schemas/Equipment-Read-Nested'
          additional_equipment:
            x-stoplight:
              id: 8p33bg3kpcdzy
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Equipment-Read-Nested'
          time_zone:
            $ref: '#/components/schemas/TimeZone'
          preferences:
            $ref: '#/components/schemas/UserPreferences-Read'
          text_to_accept_enabled:
            type: boolean
            x-stoplight:
              id: x9f7s7447dkor
          last_login_at:
            type: string
            x-stoplight:
              id: pahq0jl62so8h
            nullable: true
          labels:
            type: array
            items:
              $ref: '#/components/schemas/Label-Read-Nested'
            description: Labels assigned to this user
      description: 'User model for reads. '
    TimeZone:
      title: TimeZone
      x-stoplight:
        id: 23bilsa9wx5xx
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - Factory
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      example: America/New_York
      default: America/New_York
    User-Update:
      title: User-Update
      x-stoplight:
        id: 9xenpkvfqtquj
      allOf:
      - type: object
        properties:
          first_name:
            type: string
          last_name:
            type: string
          iam_role_ids:
            type: array
            format: uuid
            items:
              type: string
              format: uuid
              x-stoplight:
                id: lrtnsrl1niucz
          email:
            type: string
            description: 'User''s email address.


              One of email or phone is required.'
            nullable: true
          phone:
            type: string
            description: 'User''s E.164 formatted phone number


              One of email or phone is required.'
            example: '+18885551234'
            nullable: true
          equipment_id:
            type: string
            x-stoplight:
              id: ssgcdro93re6i
            format: uuid
            nullable: true
          additional_equipment_ids:
            type: array
            x-stoplight:
              id: g3nhmof4pg5xa
            minItems: 0
            items:
              x-stoplight:
                id: bwbqcht2c8r83
              type: string
              format: uuid
          default_equipment_id:
            type: string
            x-stoplight:
              id: ulg0qkq6vrz1d
            nullable: true
          default_additional_equipment_ids:
            type: array
            x-stoplight:
              id: ka4tso3ohq4wo
            minItems: 0
            items:
              x-stoplight:
                id: wudd6vwja4pqk
              type: string
              format: uuid
          time_zone:
            $ref: '#/components/schemas/TimeZone'
          external_id:
            type: string
            x-stoplight:
              id: crc9fwgeh0yce
            nullable: true
          preferences:
            $ref: '#/components/schemas/UserPreferences-Update'
          text_to_accept_enabled:
            type: boolean
            x-stoplight:
              id: gr27ktlomjcai
          label_ids:
            type: array
            x-stoplight:
              id: k8m3nlb5vq2wf
            description: Array of Label IDs to assign to this User
            items:
              type: string
              format: uuid
      - $ref: '#/components/schemas/AutoAddOn-BulkAssign'
    AutoAddOn-BulkAssign:
      title: AutoAddOn-BulkAssign
      x-stoplight:
        id: 0zlb8y4dqn6iu
      type: object
      description: 'Note: `auto_add_on_account_type` is `required` when assigning to an `Account`'
      properties:
        auto_add_on_account_type:
          $ref: '#/components/schemas/AccountType'
        additional_auto_add_on_ids:
          type: array
          x-stoplight:
            id: 6pls2iqathkik
          items:
            x-stoplight:
              id: rrt11kfb86o87
            type: string
            format: uuid
      additionalProperties: false
    Timestamps:
      title: Timestamps
      x-stoplight:
        id: t82ecgfu0oj00
      type: object
      required:
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          x-stoplight:
            id: gjj950jpq0ga9
          format: date-time
          description: ISO8601 timestamp with local timezone
        updated_at:
          type: string
          x-stoplight:
            id: bwcuyfwc7aj0e
          format: date-time
          description: ISO8601 timestamp with local timezone
      additionalProperties: false
    Identifier:
      title: Identifier
      x-stoplight:
        id: gnd39lue5v7ol
      type: object
      required:
      - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 2e38hjk4zd58m
          format: uuid
      additionalProperties: false
    Company-Read-Nested:
      title: Company-Read-Nested
      x-stoplight:
        id: cb2kn77qmf1l7
      description: Compact Company model for nested reads.
      allOf:
      - $ref: '#/components/schemas/Identifier'
        x-stoplight:
          id: jwsufva4znm91
      - $ref: '#/components/schemas/TreadId'
      - type: object
        properties:
          legal_name:
            type: string
            x-stoplight:
              id: yc10t8hieecwk
            description: The Company's name. Must be globally unique.
          company_type:
            $ref: '#/components/schemas/CompanyType'
        required:
        - legal_name
        - company_type
    StytchMemberStatus:
      title: StytchMemberStatus
      x-stoplight:
        id: 18ac6vz49292k
      enum:
      - pending
      - needs_invite
      - invited
      - active
      - deleted
      description: Stytch member status
      example: pending
      default: pending
    UserPreferences-Update:
      title: UserPreferences-Update
      x-stoplight:
        id: jrnm8j1ct880d
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/UserPreference-Notification-Update'
      additionalProperties: false
    MobileDeviceLocations-Create:
      title: MobileDeviceLocations-Create
      x-stoplight:
        id: o29fucu0y1tie
      type: object
      description: Record a history of Mobile Device prior locations
      x-internal: true
      required:
      - device_id
      - locations
      properties:
        device_id:
          type: string
        locations:
          x-stoplight:
            id: jubzfkpptjvxa
          type: array
          items:
            $ref: '#/components/schemas/GpsLocation-Create'
      additionalProperties: false
    IamRole-Read-Nested:
      title: IamRole-Read-Nested
      x-stoplight:
        id: g6dypn6gqemnu
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          name:
            type: string
            x-stoplight:
              id: s3z8bgs1s0rbd
        required:
        - name
    AuthToken:
      title: AuthToken
      x-stoplight:
        id: cjpfb2fy29h16
      type: object
      description: 'AuthToken model for reads. '
      required:
      - session_jwt
      properties:
        session_jwt:
          type: string
          x-stoplight:
            id: m8326118lib99
      additionalProperties: false
    CompanyType:
      title: CompanyType
      x-stoplight:
        id: dkzo7gjbtb1b3
      enum:
      - broker
      - contractor
      - hauler
      - owner_operator
      - producer
      - super
      example: hauler
      description: Company Type
    UserPreferences-Read:
      title: UserPreferences-Read
      x-stoplight:
        id: krp6z3ve78jym
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/UserPreference-Notification-Read'
      additionalProperties: false
    NotificationMethod:
      title: NotificationMethod
      x-stoplight:
        id: uucxsvoxknxrj
      enum:
      - push
      - sms
      example: push
    UnauthenticatedError-Response:
      title: UnauthenticatedError-Response
      x-stoplight:
        id: o477eph7ttbzt
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthenticatedError'
      additionalProperties: false
    User-Read-Typeahead:
      title: User-Read-Typeahead
      x-stoplight:
        id: ttbbss5b5k66f
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - first_name
        - last_name
        properties:
          first_name:
            type: string
            description: First name
            x-stoplight:
              id: gwo999rcdahmg
          last_name:
            type: string
            description: Last name
            x-stoplight:
              id: l9omnnsq644bh
      description: ''
    SendInvite:
      title: SendInvite
      x-stoplight:
        id: 85j5tkeowjyx9
      type: object
      properties:
        email:
          type: boolean
          default: false
          description: 'Whether to send an invitation via email along with the creation of the `User`.


            Requires the `email` field to be present.'
        sms:
          type: boolean
          default: false
          description: "Whether to send an invitation via sms along with the creation of the `User`. \n\nRequires the `phone` field to be present."
      additionalProperties: false
    ModelError-Response:
      title: ModelError-Response
      x-stoplight:
        id: payf9ndh3l6np
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ModelError'
      additionalProperties: false
    Equipment-Read-Typeahead:
      title: Equipment-Read-Typeahead
      x-stoplight:
        id: sv94osohm5xhg
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - equipment_type
        - external_id
        - equipment_id
        properties:
          name:
            type: string
            description: Equipment name
          equipment_type:
            $ref: '#/components/schemas/EquipmentType-Read-Nested'
          external_id:
            type: string
            x-stoplight:
              id: jrkz95htilck3
            nullable: true
          company_share:
            $ref: '#/components/schemas/CompanyShare-Read-Nested'
          equipment_id:
            type: string
            x-stoplight:
              id: fkr9fkdtl996f
    User-Read-Nested:
      title: User-Read-Nested
      x-stoplight:
        id: llvhpyfas0ekp
      allOf:
      - $ref: '#/components/schemas/User-Read-Typeahead'
      - $ref: '#/components/schemas/Discardable'
      - type: object
        x-stoplight:
          id: 6i4ku1oj5jnjs
        required:
        - email
        - phone
        - external_id
        - schedule_on
        properties:
          email:
            type: string
            x-stoplight:
              id: lyetvi4zixhq9
            nullable: true
          phone:
            type: string
            x-stoplight:
              id: 5dyog3jwd9m72
            description: User's E.164 formatted phone number
            nullable: true
          external_id:
            type: string
            x-stoplight:
              id: nk3qk35smj1ej
            nullable: true
          schedule_on:
            type: boolean
            x-stoplight:
              id: 5l8bajmm29c31
  responses:
    ModelError:
      description: ''
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/ModelError-Response'
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/Error-Response'
    UnauthenticatedError:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/UnauthenticatedError-Response'
  parameters:
    Accept-Language:
      name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    search-datagrid:
      name: search[datagrid]
      in: query
      required: false
      schema:
        type: string
      description: Search string for datagrid queries
    search-query:
      name: search[query]
      in: query
      required: false
      schema:
        type: string
      description: Search string for queries
    filter-iam_roles:
      name: filter[iam_roles]
      in: query
      required: false
      schema:
        type: array
      description: 'The IamRoles of the User. Allowed values: `platform_admin`, `company_admin`, `dispatcher`, `biller`, `foreman`, `driver`, `it_admin`, `manager`'
      allowEmptyValue: false
      explode: false
    filter-label_ids:
      name: filter[label_ids]
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          format: uuid
      description: Filter by Label IDs. Returns records that have ANY of the specified labels (OR logic).
    page-limit:
      name: page[limit]
      in: query
      schema:
        type: integer
        format: int32
        default: 25
        maximum: 100
      description: The maximum number of paginated results to return
    page-before:
      name: page[before]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to stop paginating at
    page-after:
      name: page[after]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to start paginating after
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-stoplight:
  id: 75rfxjepk4523
