openapi: 3.0.3
info:
  title: Horizon API V1 AccountExternalTruckIdentifier Companies API
  version: '1.0'
  contact:
    name: Tread
    url: https://tread.io
    email: developers@tread.io
  description: 'This is the Version 1 implementation.


    When in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)'
  license:
    name: Private
    url: https://tread.io
servers:
- description: production
  url: https://api.tread-horizon.com
security:
- bearerAuth: []
tags:
- name: Companies
paths:
  /v1/companies:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create a Company
      operationId: post-v1-companies
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
                    x-stoplight:
                      id: 7pg328jm7m9et
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: 'Create a new `Company`


        This endpoint requires the `create_company` permission'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company-Create'
      tags:
      - Companies
    get:
      summary: Retrieve a list of Companies
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    x-stoplight:
                      id: 1ukjgv4iiql1q
                    type: array
                    items:
                      $ref: '#/components/schemas/Company-Read'
                      x-stoplight:
                        id: znts3ikkdf7sj
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies
      description: "Retrieve `Companies` visible to the currently authenticated `Company`.\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `legal_name`\n * `dba_name`\n * `parent_company:legal_name`\n * `type`\n * `saas_billing_plan`\n * `usage_status`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
  /v1/companies/tread_id/{tread-id}:
    parameters:
    - schema:
        type: string
        pattern: ^[0-9A-F]{6}$
        minLength: 6
        maxLength: 6
        example: ABC123
      name: tread-id
      in: path
      required: true
      description: Tread ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a Company by Tread ID
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-tread_id-tread-id
      x-stoplight:
        id: u2m9q5u0bdimj
      x-internal: true
      description: "Retrieve a `Company` by a `Tread ID`. \n\nThis endpoint requires the `connect_companies` `IamPermission`."
  /v1/companies/typeahead:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Companies
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company-Read-Typeahead'
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-typeahead
      description: 'Typeahead search against the `legal_name` property for `Companies` visible to the currently authenticated `Company`.

        '
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      x-stoplight:
        id: qkqja5m9f9ixa
  /v1/companies/{company-id}/children:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Return child Companies that belong to a Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    x-stoplight:
                      id: qh7o3ai9runxr
                    type: array
                    items:
                      $ref: '#/components/schemas/Company-Read-Nested'
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-id-children
      x-stoplight:
        id: l2m3v9uf24jvn
      description: "Return child `Companies` for a `Company`\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `legal_name`\n * `dba_name`\n * `parent_company:legal_name`\n * `type`\n * `saas_billing_plan`\n * `usage_status`"
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-datagrid'
  /v1/companies/{company-id}/children/typeahead:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on Children for a Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company-Read-Typeahead'
                required:
                - data
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-accounts-typeahead
      description: Typeahead search against the `legal_name` property on `Children` for a `Company`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
      x-stoplight:
        id: 0cc8k3gzl6bwu
      x-internal: true
  /v1/companies/{company-id}/connected_companies:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve connected Companies For a Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: l9ja95bu9woa9
                    items:
                      $ref: '#/components/schemas/Company-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-connected_companies
      x-stoplight:
        id: azyll9l637399
      description: Retrieve connected `Companies` For a `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
  /v1/companies/{company-id}/connected_companies/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search on connected Companies for a Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: q7owtmifrbwjm
                    items:
                      $ref: '#/components/schemas/Company-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-connected_companies-typeahead
      x-stoplight:
        id: lbdv3e80844da
      description: 'Typeahead search against the `legal_name` property on connected `Companies` for a given `Company`.

        '
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
  /v1/companies/{company-id}/logo:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Update the logo for a Company
      operationId: post-v1-companies-:company_id-logo
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: "Add or replace the `logo` for a `Company`. \n\nThis endpoint requires the `edit_company` `IamPermission`\n\n* If you're using a `DirectUpload` then you must use the `application/json` mime-type and `logo` must be the `DirectUpload`'s `signed_id`\n* If you're using a file then you must use the `multipart/form-data` mime-type and `logo` must be a file.\n\nIn both cases the following restrictions apply:\n * `logo` cannot be larger than 100kb.\n * `logo` must be one of the following image types: `png`, `jpeg`, `gif`."
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Company-Logo-Create'
          application/json:
            schema:
              $ref: '#/components/schemas/Company-Logo-Create'
        description: ''
      tags:
      - Companies
      x-internal: true
    get:
      summary: Retrieve the logo for a Company
      operationId: get-v1-companies-company_id-logo
      x-stoplight:
        id: 0btd243xc72zx
      x-internal: true
      description: Retrieve the logo for a `Company`.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Logo-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      tags:
      - Companies
  /v1/companies/{company-id}/managed_companies:
    parameters:
    - schema:
        type: string
      name: company-id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve managed Companies for a Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: cha06aro11s33
                    items:
                      $ref: '#/components/schemas/Company-Read'
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company_id-managed_companies
      x-stoplight:
        id: k4p7tg98a8tsp
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/page-after'
      description: 'Retrieve managed `Companies` for another `Company`.


        This endpoint requires the `platform_admin` `IamRole`.'
  /v1/companies/{company-id}/managed_companies/{id}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Company ID
    - schema:
        type: string
        format: uuid
      name: id
      in: path
      required: true
      description: Managed Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a single managed Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
                    x-stoplight:
                      id: mc5n3d10ntvthm
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-managed_companies-id
      x-stoplight:
        id: mc6yvgca2h7jk
      x-internal: true
      description: Retrieve a managed `Company` by ID.
    put:
      summary: Create a managed Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: put-v1-companies-company_id-managed_companies-id
      x-stoplight:
        id: uk5tyvgca2h7j
      x-internal: true
      description: 'Create a managed `Company` for another `Company`.


        This endpoint requires the `platform_admin` `IamRole`.'
      requestBody:
        content:
          application/json: {}
    delete:
      summary: Delete a managed Company
      tags:
      - Companies
      responses:
        '204':
          description: No Content
          content: {}
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: delete-v1-companies-company-id-managed_companies-id
      x-stoplight:
        id: w30g0xogp0ptg
      description: 'Delete a managed `Company` from another `Company`.


        This endpoint requires the `platform_admin` `IamRole`.'
      x-internal: true
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/connected_companies:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve connected Companies for a Managed Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: mc1ja95bu9woa
                    items:
                      $ref: '#/components/schemas/Company-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-managed_companies-managed-company-id-connected_companies
      x-stoplight:
        id: mc2yll9l637399
      description: Retrieve connected `Companies` for a Managed `Company`
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
  /v1/companies/{company-id}/managed_companies/{managed-company-id}/connected_companies/typeahead:
    parameters:
    - schema:
        type: string
        format: uuid
      name: company-id
      in: path
      required: true
      description: Managing Company ID
    - schema:
        type: string
        format: uuid
      name: managed-company-id
      in: path
      required: true
      description: Managed Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Typeahead search connected Companies for a Managed Company
      tags:
      - Companies
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: Contains prev and next links for pagination
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    x-stoplight:
                      id: mc3wtmifrbwjm
                    items:
                      $ref: '#/components/schemas/Company-Read-Typeahead'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-company-id-managed_companies-managed-company-id-connected_companies-typeahead
      x-stoplight:
        id: mc4dv3e80844da
      description: Typeahead search against the `legal_name` property on connected `Companies` for a Managed `Company`.
      parameters:
      - $ref: '#/components/parameters/page-limit'
      - $ref: '#/components/parameters/page-after'
      - $ref: '#/components/parameters/page-before'
      - $ref: '#/components/parameters/search-query'
  /v1/companies/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: Company ID
    - $ref: '#/components/parameters/Accept-Language'
    get:
      summary: Retrieve a single Company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
                    x-stoplight:
                      id: ojn3d10ntvthm
                required:
                - data
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
      operationId: get-v1-companies-id
      description: Retrieve a `Company` by ID
      tags:
      - Companies
      x-internal: true
    patch:
      summary: Update a Company
      operationId: patch-v1-companies-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company-Read'
                required:
                - data
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      description: 'Update a `Company` by ID


        This endpoint requires the `edit_company` permission'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company-Update'
        description: Note that all parameters are optional - a caller need only provide the `Company` fields that they wish to change.
      tags:
      - Companies
    delete:
      summary: Delete a Company
      operationId: delete-v1-companies-id
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/Error'
        '406':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      x-internal: true
      description: 'Delete a `Company` by ID


        This endpoint requires the `delete_company` permission'
      tags:
      - Companies
  /v1/direct_uploads:
    parameters:
    - $ref: '#/components/parameters/Accept-Language'
    post:
      summary: Create a DirectUpload
      tags:
      - Companies
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/DirectUpload-Read'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '406':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/ModelError'
      operationId: post-v1-direct_uploads
      x-stoplight:
        id: tgme583womicv
      description: 'Create a `DirectUpload`.


        The `checksum` _must_ be calculated exactly the way `rails` expects it ([javascript example](https://github.com/rails/rails/blob/main/activestorage/app/javascript/activestorage/file_checksum.js)).


        You should upload the file to `direct_upload.url` using any provided headers from `direct_upload.headers`.


        Once this is done you can use `signed_id` in place of a file in any endpoint that accepts file uploads.'
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectUpload-Create'
components:
  responses:
    ModelError:
      description: ''
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/ModelError-Response'
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/Error-Response'
    UnauthenticatedError:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/UnauthenticatedError-Response'
  schemas:
    SystemOfMeasure:
      title: SystemOfMeasure
      x-stoplight:
        id: hu40i1qp6a4ed
      enum:
      - imperial
      - metric
      example: imperial
      default: imperial
      description: Unit system to use when displaying non-distance measurements
    DirectUpload-Read:
      title: DirectUpload-Read
      x-stoplight:
        id: ge5fs3tk8yb8k
      type: object
      required:
      - id
      - byte_size
      - checksum
      - content_type
      - created_at
      - filename
      - key
      - service_name
      - signed_id
      - direct_upload
      properties:
        id:
          type: string
          x-stoplight:
            id: lzwkhbbuc30lt
          format: uuid
        byte_size:
          type: integer
          x-stoplight:
            id: zdq5i2km7dbdd
        checksum:
          type: string
          x-stoplight:
            id: pfgyb7ctywy3o
        content_type:
          type: string
          x-stoplight:
            id: id6fbesbolbxu
        created_at:
          type: string
          x-stoplight:
            id: qkkile7jxkghk
          format: date-time
        filename:
          type: string
          x-stoplight:
            id: nh2lxjat0biia
        key:
          type: string
          x-stoplight:
            id: saakohyy5kvvz
        metadata:
          type: object
          x-stoplight:
            id: zlk0ufjqtjaxq
        service_name:
          type: string
          x-stoplight:
            id: br0ew9wo8145q
        signed_id:
          type: string
          x-stoplight:
            id: zvuflukjwdj16
        direct_upload:
          type: object
          x-stoplight:
            id: e4cw0bh9x1t4n
          required:
          - url
          properties:
            url:
              type: string
              x-stoplight:
                id: l0qwu7ya2mng0
              format: uri
            headers:
              type: object
              x-stoplight:
                id: jgxk00g0qfrub
      additionalProperties: false
    Error-Response:
      title: Error-Response
      x-stoplight:
        id: 52cydhphee3qe
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
      additionalProperties: false
    SaasBillingPlan:
      title: SaasBillingPlan
      x-stoplight:
        id: e7hyhw2zszf6l
      enum:
      - basic
      - standard
      - pro
      example: basic
      default: basic
      x-internal: true
    DateFormat:
      title: DateFormat
      x-stoplight:
        id: i3g08ad8vmf6g
      enum:
      - MM/DD/YYYY
      - DD/MM/YYYY
      - YYYY/MM/DD
      example: MM/DD/YYYY
      default: MM/DD/YYYY
    Company-Logo-Create:
      title: Company-Logo-Create
      x-stoplight:
        id: 0ftrms8gtiarc
      type: object
      description: Company model for logo creation
      required:
      - logo
      properties:
        logo:
          x-stoplight:
            id: 4fqw52unkx3b1
          anyOf:
          - x-stoplight:
              id: 34t5ri5242fzy
            format: binary
          - x-stoplight:
              id: mmnbbtiuaqj1u
          type: string
      additionalProperties: false
    TimeFormat:
      title: TimeFormat
      x-stoplight:
        id: 2fy67ypn6nohz
      enum:
      - 12-hour
      - 24-hour
      example: 12-hour
      default: 12-hour
    Address-Create:
      title: Address-Create
      x-stoplight:
        id: 9wmd46rzgjxh7
      type: object
      required:
      - thoroughfare
      - locality
      - administrative_area
      - postal_code
      - country
      properties:
        thoroughfare:
          type: string
          x-stoplight:
            id: zkh46rwwvpuca
          description: Street address
          example: 123 Fake St.
        premise:
          type: string
          x-stoplight:
            id: bkcia8yh59wzf
          description: Apartment, Suite, Box number, etc.
          example: 3rd Floor
        locality:
          type: string
          x-stoplight:
            id: e40nnuxgub7ug
          description: City / Town
          example: New York
        administrative_area:
          type: string
          x-stoplight:
            id: 2bfqcapyozkpp
          description: State / Province / Region (ISO code when available)
          example: NY
        postal_code:
          type: string
          x-stoplight:
            id: a9m9rbcbsa635
          description: Postal code / ZIP Code
          example: '10011'
        country:
          type: string
          x-stoplight:
            id: gud5s8ypb8oam
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}
          example: US
          description: 2 character country ISO code
        lat:
          type: string
          x-stoplight:
            id: nwg5be93gvmkd
          description: "latitude of the `Address`. \n\nMust be a stringified number between -90 and 90 inclusive.\n\nRequired if `lon` is present."
        lon:
          type: string
          x-stoplight:
            id: rcvsjw8cbs4hs
          description: "longitude of the `Address`. \n\nMust be a stringified number between -180 and 180 inclusive.\n\nRequired if `lat` is present."
        place_id:
          type: string
          x-stoplight:
            id: xtuyrwo0rqzkh
          description: NextBillion placeID
      additionalProperties: false
    TreadId:
      title: TreadId
      x-stoplight:
        id: 43k4t5tl359m4
      type: object
      required:
      - tread_id
      properties:
        tread_id:
          type: string
          x-stoplight:
            id: zi3ld7djflw6f
          pattern: ^[0-9A-F]{6}$
          minLength: 6
          maxLength: 6
          example: ABC123
          description: Tread ID
      additionalProperties: false
    Company-Read:
      title: Company-Read
      x-stoplight:
        id: qcutoncg3n7kl
      allOf:
      - $ref: '#/components/schemas/Company-Read-Nested'
      - $ref: '#/components/schemas/Timestamps'
      - type: object
        x-stoplight:
          id: cak4sl1rqwjew
        required:
        - dba_name
        - tread_customer
        - address
        - stytch_organization_id
        - language
        - time_format
        - date_format
        - unit_of_distance
        - system_of_measure
        - currency
        - time_zone
        - primary_contact
        - billing_contact
        - logo_url
        - billing_status
        - saas_billing_plan
        - usage_status
        - fuel_surcharge_percentage
        - auth_methods
        - auto_complete_order
        - ai_review_loads
        - site_radius
        - default_geofence_delay_seconds
        properties:
          dba_name:
            type: string
            x-stoplight:
              id: 82k7xebdtasux
            description: Doing Business As name. Must be globally unique
            nullable: true
          tread_customer:
            type: boolean
            x-stoplight:
              id: 4crhqnx07wi3s
            description: Flag indicating that this `Company` is a customer of Tread
          address:
            $ref: '#/components/schemas/Address-Read-Nested'
          stytch_organization_id:
            type: string
            x-stoplight:
              id: 4jj13auzko3ud
            description: Stytch Organization ID of this `Company`. Must be globally unique.
            nullable: true
          language:
            $ref: '#/components/schemas/Language'
          time_format:
            $ref: '#/components/schemas/TimeFormat'
          date_format:
            $ref: '#/components/schemas/DateFormat'
          unit_of_distance:
            $ref: '#/components/schemas/UnitOfDistance'
          system_of_measure:
            $ref: '#/components/schemas/SystemOfMeasure'
          currency:
            $ref: '#/components/schemas/Currency'
          time_zone:
            $ref: '#/components/schemas/TimeZone'
          primary_contact:
            $ref: '#/components/schemas/Contact-Read-Nested'
          billing_contact:
            $ref: '#/components/schemas/Contact-Read-Nested'
          logo_url:
            x-stoplight:
              id: mnw8c7bini09x
            type: string
            format: uri
            nullable: true
          billing_status:
            $ref: '#/components/schemas/BillingStatus'
          saas_billing_plan:
            $ref: '#/components/schemas/SaasBillingPlan'
          usage_status:
            $ref: '#/components/schemas/UsageStatus'
          parent_company:
            $ref: '#/components/schemas/Company-Read-Nested'
          fuel_surcharge_percentage:
            type: string
            x-stoplight:
              id: u43p6mfcjmxy3
          auth_methods:
            type: array
            x-stoplight:
              id: y7bj1dk8xtm09
            items:
              $ref: '#/components/schemas/AuthMethod'
          auto_complete_order:
            type: boolean
            x-stoplight:
              id: f4fro1527ji43
          ai_review_loads:
            type: boolean
            x-stoplight:
              id: ai2review3loads
            description: Enable AI review of loads for this company
          default_lat:
            type: string
            x-stoplight:
              id: 27ftmnviz2er7
            example: '43.648947'
            nullable: true
          default_lon:
            type: string
            x-stoplight:
              id: mr9iazlac5hu5
            example: '-79.389193'
            nullable: true
          site_radius:
            type: string
            x-stoplight:
              id: 1fhl9nsdxt5k7
            nullable: true
          default_geofence_delay_seconds:
            type: integer
            x-stoplight:
              id: 7oqwj60jyv1jg
      description: 'Company model for reads. '
    UnitOfDistance:
      title: UnitOfDistance
      x-stoplight:
        id: 5mw7vxpvk84iu
      enum:
      - mile
      - kilometer
      example: mile
      default: mile
      description: Unit to use when displaying distances
    Company-Read-Typeahead:
      title: Company-Read-Typeahead
      x-stoplight:
        id: vl8vd87brmcah
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          legal_name:
            type: string
            description: Company Legal Name
            x-stoplight:
              id: gy5vtcbh7agl2
        required:
        - legal_name
      x-internal: true
    Contact-Create:
      title: Contact-Create
      x-stoplight:
        id: dhro09gmoiqgw
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: ehb4vhlggledw
        email:
          type: string
          x-stoplight:
            id: kxjggao5fm38r
        phone:
          type: string
          x-stoplight:
            id: 3dxv517oimpb1
          example: '+18885551234'
          description: Contact's E.164 formatted phone number
      additionalProperties: false
    Address-Read-Nested:
      title: Address-Read-Nested
      x-stoplight:
        id: cvym2dzuo375q
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - $ref: '#/components/schemas/Address-Read'
    Error:
      title: Error
      x-stoplight:
        id: 3g57kkik3l464
      type: object
      description: An Error.
      required:
      - code
      properties:
        code:
          type: string
          x-stoplight:
            id: 7o9x1t8v0bgfo
      additionalProperties: false
    ModelError-Item:
      title: ModelError-Item
      x-stoplight:
        id: b93chwval2t8d
      type: object
      required:
      - model
      - field
      - message
      properties:
        model:
          type: string
          x-stoplight:
            id: 30myfyjkno8ao
          description: The Model associated with this Error
        field:
          type: string
          x-stoplight:
            id: 8gl4ed3uxhdws
          description: The field associated with this Error
        message:
          type: string
          x-stoplight:
            id: bmgbrtmw17qsj
          description: The Error message
      additionalProperties: false
    UnauthenticatedError:
      title: UnauthenticatedError
      x-stoplight:
        id: 202o69l0fs40h
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        x-stoplight:
          id: tg10dt7s0l6bw
        properties:
          error_type:
            type: string
            x-stoplight:
              id: wvq8c0qsym4hz
        required:
        - error_type
    ModelError:
      title: ModelError
      x-stoplight:
        id: nhp6714o4j1qt
      description: A Model-specific error
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        required:
        - errors
        properties:
          errors:
            type: array
            x-stoplight:
              id: m4ul9vcq2deh6
            items:
              $ref: '#/components/schemas/ModelError-Item'
    TimeZone:
      title: TimeZone
      x-stoplight:
        id: 23bilsa9wx5xx
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - Factory
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      example: America/New_York
      default: America/New_York
    Company-Logo-Read:
      title: Company-Logo-Read
      x-stoplight:
        id: rq1csqrap8fr
      description: Company logo information for reads.
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          logo_url:
            type: string
            nullable: true
            description: URL to the company's logo image
            x-stoplight:
              id: logo_url_prop_id
        required:
        - logo_url
    Timestamps:
      title: Timestamps
      x-stoplight:
        id: t82ecgfu0oj00
      type: object
      required:
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          x-stoplight:
            id: gjj950jpq0ga9
          format: date-time
          description: ISO8601 timestamp with local timezone
        updated_at:
          type: string
          x-stoplight:
            id: bwcuyfwc7aj0e
          format: date-time
          description: ISO8601 timestamp with local timezone
      additionalProperties: false
    Identifier:
      title: Identifier
      x-stoplight:
        id: gnd39lue5v7ol
      type: object
      required:
      - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 2e38hjk4zd58m
          format: uuid
      additionalProperties: false
    Contact-Read-Nested:
      title: Contact-Read-Nested
      x-stoplight:
        id: 3u6d8qhsz5ehn
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        required:
        - name
        - email
        - phone
        properties:
          name:
            type: string
            x-stoplight:
              id: sd80y9pbgvkok
            nullable: true
          email:
            type: string
            x-stoplight:
              id: 883fmt34pdeaj
            nullable: true
          phone:
            type: string
            x-stoplight:
              id: wdtqyju4t4u06
            example: '+18885551234'
            nullable: true
      description: ''
    DirectUpload-Create:
      title: DirectUpload-Create
      x-stoplight:
        id: gu4eq95ccx5jq
      type: object
      x-internal: true
      required:
      - filename
      - byte_size
      - checksum
      - content_type
      properties:
        filename:
          type: string
          x-stoplight:
            id: npiq1r1p6z5sz
        byte_size:
          type: integer
          x-stoplight:
            id: 173ysh5cb9fj9
        checksum:
          type: string
          x-stoplight:
            id: u1cilwg6olbvu
        content_type:
          type: string
          x-stoplight:
            id: 2bz7ycohbo4zz
        metadata:
          type: object
          x-stoplight:
            id: 7zg8sn25q1paq
      additionalProperties: false
    Company-Read-Nested:
      title: Company-Read-Nested
      x-stoplight:
        id: cb2kn77qmf1l7
      description: Compact Company model for nested reads.
      allOf:
      - $ref: '#/components/schemas/Identifier'
        x-stoplight:
          id: jwsufva4znm91
      - $ref: '#/components/schemas/TreadId'
      - type: object
        properties:
          legal_name:
            type: string
            x-stoplight:
              id: yc10t8hieecwk
            description: The Company's name. Must be globally unique.
          company_type:
            $ref: '#/components/schemas/CompanyType'
        required:
        - legal_name
        - company_type
    Company-Create:
      title: Company-Create
      x-stoplight:
        id: chbudrfekyjgt
      description: Input parameters for Company creation.
      type: object
      required:
      - legal_name
      - address
      - language
      - date_format
      - time_format
      - system_of_measure
      - unit_of_distance
      - currency
      - time_zone
      - primary_contact
      - billing_contact
      - usage_status
      - saas_billing_plan
      - billing_status
      - company_type
      properties:
        parent_company_id:
          type: string
          x-stoplight:
            id: jgui5qyj4dznz
          description: The parent `Company` of this `Company`
          format: uuid
          nullable: true
        legal_name:
          type: string
          x-stoplight:
            id: ppkncfr8pw1m3
          example: Tread
          description: Legal registered name of the `Company` - used for billing. Must be globally unique
        dba_name:
          type: string
          x-stoplight:
            id: 8u3g04bxtnusn
          description: Doing Business As name. Must be globally unique
          nullable: true
        address:
          $ref: '#/components/schemas/Address-Create'
        tread_customer:
          type: boolean
          x-stoplight:
            id: e4i3fgzlsyx1c
          default: false
          description: Flag indicating that this `Company` is a customer of Tread
        language:
          $ref: '#/components/schemas/Language'
        date_format:
          $ref: '#/components/schemas/DateFormat'
        time_format:
          $ref: '#/components/schemas/TimeFormat'
        system_of_measure:
          $ref: '#/components/schemas/SystemOfMeasure'
        unit_of_distance:
          $ref: '#/components/schemas/UnitOfDistance'
        currency:
          $ref: '#/components/schemas/Currency'
        time_zone:
          $ref: '#/components/schemas/TimeZone'
        primary_contact:
          $ref: '#/components/schemas/Contact-Create'
        billing_contact:
          $ref: '#/components/schemas/Contact-Create'
        usage_status:
          $ref: '#/components/schemas/UsageStatus'
        saas_billing_plan:
          $ref: '#/components/schemas/SaasBillingPlan'
        billing_status:
          $ref: '#/components/schemas/BillingStatus'
        company_type:
          $ref: '#/components/schemas/CompanyType'
        fuel_surcharge_percentage:
          type: number
          x-stoplight:
            id: 62gkf6qbchzxk
          description: The fuel surcharge that will be applied for all the Company's Rates.
          minimum: 0
          maximum: 100
        auth_methods:
          type: array
          x-stoplight:
            id: sirgoyxdgrstf
          items:
            $ref: '#/components/schemas/AuthMethod'
        auto_complete_order:
          type: boolean
          x-stoplight:
            id: 766uuj7yzywqo
        ai_review_loads:
          type: boolean
          x-stoplight:
            id: ai1review2loads
          description: Enable AI review of loads for this company
        default_lat:
          type: number
          x-stoplight:
            id: c52z2j5usqkpr
          minimum: -90
          maximum: 90
          nullable: true
        default_lon:
          type: number
          x-stoplight:
            id: wub8z625fvpll
          minimum: -180
          maximum: 180
          nullable: true
        site_radius:
          type: string
          x-stoplight:
            id: 4gqppk2brel41
          nullable: true
        default_geofence_delay_seconds:
          type: integer
          x-stoplight:
            id: b4fdc0ksu5l85
      additionalProperties: false
    Currency:
      title: Currency
      x-stoplight:
        id: 6omugo38dl0jl
      enum:
      - CAD
      - USD
      example: USD
      default: USD
      description: Currency
    Contact-Update:
      title: Contact-Update
      x-stoplight:
        id: p2ny8u55sfpcx
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: wm2na5bv2uvvv
        email:
          x-stoplight:
            id: mdv25imtbstfh
          type: string
        phone:
          type: string
          x-stoplight:
            id: rtf4rqlgwt35i
          example: '+18885551234'
      additionalProperties: false
    UsageStatus:
      title: UsageStatus
      x-stoplight:
        id: m57ggtmxjg5pi
      enum:
      - demo
      - onboarding
      - active
      - suspended
      - churned
      - deleted
      description: Usage status
      default: demo
      example: demo
      x-internal: true
    Language:
      title: Language
      x-stoplight:
        id: 1m5jdnwipywby
      description: Supported ISO 639-1 Language Codes
      enum:
      - en
      - es
      - fr
      example: en
      default: en
    CompanyType:
      title: CompanyType
      x-stoplight:
        id: dkzo7gjbtb1b3
      enum:
      - broker
      - contractor
      - hauler
      - owner_operator
      - producer
      - super
      example: hauler
      description: Company Type
    Address-Read:
      title: Address-Read
      x-stoplight:
        id: v1mcd2qgns2tf
      type: object
      required:
      - thoroughfare
      - premise
      - locality
      - administrative_area
      - postal_code
      - country
      - lat
      - lon
      - place_id
      properties:
        thoroughfare:
          type: string
          x-stoplight:
            id: 8wrr7qkc9ilqn
        premise:
          type: string
          x-stoplight:
            id: z4jth408out1q
          nullable: true
        locality:
          type: string
          x-stoplight:
            id: kfby6wqpgvxbz
        administrative_area:
          type: string
          x-stoplight:
            id: c9bkrloxf4t8d
        postal_code:
          type: string
          x-stoplight:
            id: 7zq51k1mof3o3
        country:
          type: string
          x-stoplight:
            id: iydw9q619ya01
          pattern: ^[A-Z]{2}
          example: US
          minLength: 2
          maxLength: 2
        lat:
          type: string
          x-stoplight:
            id: kqu1qtf9rivh1
          description: "latitude of the `Address`. \n\nMust be a stringified number between -90 and 90 inclusive.\n\nRequired if `lon` is present."
          nullable: true
        lon:
          type: string
          x-stoplight:
            id: oly2yabkzpk9g
          description: "longitude of the `Address`. \n\nMust be a stringified number between -180 and 180 inclusive.\n\nRequired if `lat` is present."
          nullable: true
        place_id:
          type: string
          x-stoplight:
            id: im1fdq7qqxdij
          description: NextBillion placeID
          nullable: true
      additionalProperties: false
    UnauthenticatedError-Response:
      title: UnauthenticatedError-Response
      x-stoplight:
        id: o477eph7ttbzt
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthenticatedError'
      additionalProperties: false
    Company-Update:
      title: Company-Update
      x-stoplight:
        id: vzy6sd8how2v7
      type: object
      properties:
        legal_name:
          type: string
          example: Tread
          description: Legal registered name of the `Company` - used for billing. Must be globally unique
        dba_name:
          type: string
          description: Doing Business As name. Must be globally unique
          nullable: true
        address:
          $ref: '#/components/schemas/Address-Update'
        tread_customer:
          type: boolean
          default: false
          description: Flag indicating that this `Company` is a customer of Tread
        language:
          $ref: '#/components/schemas/Language'
        date_format:
          $ref: '#/components/schemas/DateFormat'
        time_format:
          $ref: '#/components/schemas/TimeFormat'
        system_of_measure:
          $ref: '#/components/schemas/SystemOfMeasure'
        unit_of_distance:
          $ref: '#/components/schemas/UnitOfDistance'
        currency:
          $ref: '#/components/schemas/Currency'
        time_zone:
          $ref: '#/components/schemas/TimeZone'
        primary_contact:
          $ref: '#/components/schemas/Contact-Update'
        billing_contact:
          $ref: '#/components/schemas/Contact-Update'
        usage_status:
          $ref: '#/components/schemas/UsageStatus'
        billing_status:
          $ref: '#/components/schemas/BillingStatus'
        saas_billing_plan:
          $ref: '#/components/schemas/SaasBillingPlan'
        company_type:
          $ref: '#/components/schemas/CompanyType'
        fuel_surcharge_percentage:
          type: number
          x-stoplight:
            id: tobcjytkoild1
          minimum: 0
          maximum: 100
        auth_methods:
          type: array
          x-stoplight:
            id: gs8umv2xuewdq
          items:
            $ref: '#/components/schemas/AuthMethod'
        ai_review_loads:
          type: boolean
          x-stoplight:
            id: ai3review4loads
          description: Enable AI review of loads for this company
        default_lat:
          type: string
          x-stoplight:
            id: 5ddw2beimkdbg
          nullable: true
        default_lon:
          type: string
          x-stoplight:
            id: mor2bcbxiu7zx
          nullable: true
        site_radius:
          type: number
          x-stoplight:
            id: qvg3rpedhjo8b
          nullable: true
        default_geofence_delay_seconds:
          type: integer
          x-stoplight:
            id: a2pit27zk3wjw
      additionalProperties: false
    ModelError-Response:
      title: ModelError-Response
      x-stoplight:
        id: payf9ndh3l6np
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ModelError'
      additionalProperties: false
    Address-Update:
      title: Address-Update
      x-stoplight:
        id: 9btd83m0o0tsa
      properties:
        thoroughfare:
          type: string
          description: Street address
          example: 123 Fake St.
        premise:
          type: string
          description: Apartment, Suite, Box number, etc.
          example: 3rd Floor
        locality:
          type: string
          description: City / Town
          example: New York
        administrative_area:
          type: string
          description: State / Province / Region (ISO code when available)
          example: NY
        postal_code:
          type: string
          description: Postal code / ZIP Code
          example: '10011'
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}
          example: US
          description: 2 character country ISO code
        lat:
          type: string
          x-stoplight:
            id: 5uu3ex2lbmyzj
          description: "latitude of the `Address`. \n\nMust be a stringified number between -90 and 90 inclusive.\n\nRequired if `lon` is present."
        lon:
          type: string
          x-stoplight:
            id: y8xd9dp6rwfeu
          description: "longitude of the `Address`. \n\nMust be a stringified number between -180 and 180 inclusive.\n\nRequired if `lat` is present."
        place_id:
          type: string
          x-stoplight:
            id: ujv5qpg067ycc
          description: NextBillion placeID
        _destroy:
          type: integer
          x-stoplight:
            id: 48a0is0umjabv
          description: 'If this is provided with value of `1` like so `_destroy: 1` then this `Address` will be deleted. The `id` must be set.'
      type: object
      additionalProperties: false
    AuthMethod:
      title: AuthMethod
      x-stoplight:
        id: 4h7bxzt0hkx3o
      enum:
      - sso
      - magic_link
      - password
      - google_auth
      - microsoft_auth
      - otp_sms
      description: ''
    BillingStatus:
      title: BillingStatus
      x-stoplight:
        id: 3d3i9tmtxbbf5
      enum:
      - unpaid
      - free_trial
      - paid
      - overdue
      - suspended
      - churned
      default: unpaid
      example: unpaid
      description: Billing Status
      x-internal: true
  parameters:
    Accept-Language:
      name: Accept-Language
      in: header
      schema:
        type: string
        default: en
        example: en
      description: 'The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. '
    search-datagrid:
      name: search[datagrid]
      in: query
      required: false
      schema:
        type: string
      description: Search string for datagrid queries
    search-query:
      name: search[query]
      in: query
      required: false
      schema:
        type: string
      description: Search string for queries
    page-limit:
      name: page[limit]
      in: query
      schema:
        type: integer
        format: int32
        default: 25
        maximum: 100
      description: The maximum number of paginated results to return
    page-before:
      name: page[before]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to stop paginating at
    page-after:
      name: page[after]
      in: query
      required: false
      schema:
        type: string
      description: The cursor to start paginating after
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-stoplight:
  id: 75rfxjepk4523
