{
  "openapi": "3.0.3",
  "x-stoplight": {
    "id": "75rfxjepk4523"
  },
  "info": {
    "title": "Horizon API V1",
    "version": "1.0",
    "contact": {
      "name": "Tread",
      "url": "https://tread.io",
      "email": "developers@tread.io"
    },
    "description": "This is the Version 1 implementation.\n\nWhen in doubt we default to the practices outlined [here](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#advanced-queries)",
    "license": {
      "name": "Private",
      "url": "https://tread.io"
    }
  },
  "servers": [
    {
      "description": "production",
      "url": "https://api.tread-horizon.com"
    }
  ],
  "paths": {
    "/health": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Health Check",
        "tags": [
          "Reflection"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthCheck"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/HealthCheck"
          }
        },
        "operationId": "get-health",
        "x-internal": true,
        "description": "`/health` is used by load balancers in AWS as well as in our Docker image.",
        "security": []
      }
    },
    "/v1/accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Create a new Account",
        "operationId": "post-v1-accounts",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "x-stoplight": {
          "id": "85gw0eby5khks"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account-Create"
              }
            }
          }
        },
        "description": "Create a new `Account`\n\nThis endpoint requires the `create_account` permission",
        "tags": [
          "Accounts"
        ]
      },
      "get": {
        "summary": "Retrieve all Accounts visible to the current Company",
        "operationId": "get-v1-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "x-stoplight": {
                        "id": "nrsnmuc7twn2k"
                      },
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account-Read"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "x-stoplight": {
          "id": "vw1abhy4q38wk"
        },
        "tags": [
          "Accounts"
        ],
        "description": "Retrieve `Accounts` visible to the currently authenticated `Company`.\n\nDatagrid search (`search[datagrid]`) queries against the following properties:\n * `name`\n\nFilter usage:\n * to filter a single state: `filter[account_types][]=customer`\n * to filter multiple states: `filter[account_types][]=customer&filter[account_types][]=vendor`",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-datagrid"
          },
          {
            "$ref": "#/components/parameters/filter-account_types"
          },
          {
            "$ref": "#/components/parameters/filter-material_rates"
          },
          {
            "$ref": "#/components/parameters/filter-discarded"
          },
          {
            "$ref": "#/components/parameters/filter-department_ids"
          },
          {
            "$ref": "#/components/parameters/filter-connected_company-company_types"
          },
          {
            "$ref": "#/components/parameters/filter-auto_add_ons"
          },
          {
            "$ref": "#/components/parameters/filter-label_ids"
          }
        ]
      }
    },
    "/v1/accounts/bulk_update": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "patch": {
        "summary": "Bulk update Accounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "043ctqwh4vocf"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Account-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-accounts-bulk_update",
        "x-stoplight": {
          "id": "9sf3s62gim4pp"
        },
        "description": "Perform select bulk updates to `Accounts`.\n\nRequires the `edit_account` permission.",
        "x-internal": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "x-stoplight": {
                      "id": "czk9oddnxv50n"
                    },
                    "items": {
                      "$ref": "#/components/schemas/Account-Update-Bulk"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/connected": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Create a connected Account",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "post-v1-accounts-connected",
        "x-stoplight": {
          "id": "ee581r2nsvq13"
        },
        "description": "Create a connected `Account` between two `Companies`. \n\nThis endpoint creates two complimentary connected `Accounts`:\n * a \"sender\" `Account` owned by the `Company` specified by `sender_company_id` which has the provided `sender_account_types`\n * a \"receiver\" `Account` owned by the `Company` specified by `receiver_company_id` which has the opposite `account_types`\n \nThe newly created \"sender\" `Account` is returned.\n\nThis endpoint requires the `platform_admin` `IamRole`. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account-Connected-Platform-Admin-Create"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve all connected Accounts visible to the current Company",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "soszlt7ej40ta"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Account-Read"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-accounts-connected",
        "x-stoplight": {
          "id": "19p2w6pnte1t2"
        },
        "description": "Retrieve all connected `Accounts` visible to the currently authenticated `Company`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/accounts/invite": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Invite a Company to connect through an Account",
        "operationId": "post-v1-accounts-invite",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account-Read"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "x-stoplight": {
          "id": "o9p7fcv3vchcq"
        },
        "description": "Invite a `Company` which is not yet on the `Tread` platform to connect through an `Account`.\n\nThis will create:\n * a new `Company` named `name` using `contact` data for `primary_contact ` and `billing_contact` \n * a new `User` with information from `contact` that has the `Company Admin` `IamRole`\n * a new `Account` owned by the currently authenticated `User`'s `Company` and connected to the newly created `Company`\n\nNote that all fields in `contact` are required.\n\nThe following unique constraints must be met or a `422` will be returned:\n * `name` must be globally unique to `Companies` \n * `contact.email` and `contact.phone` must be globally unique to `Users`\n\nIf successful the newly created `Account` will be returned.\n \nThis endpoint requires the `create_account` `IamPermission`\n \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account-Invite"
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/typeahead": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Typeahead search on Accounts",
        "tags": [
          "Typeaheads",
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "wvfdabnd4w4ar"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Account-Read-Typeahead"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "get-v1-accounts-typeahead",
        "x-stoplight": {
          "id": "249lre4wlspeo"
        },
        "description": "Typeahead search against the `name` property for `Accounts` visible to the currently authenticated `Company`.\n",
        "x-internal": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-query"
          },
          {
            "$ref": "#/components/parameters/filter-account_types"
          },
          {
            "$ref": "#/components/parameters/filter-connected"
          },
          {
            "$ref": "#/components/parameters/filter-date"
          }
        ]
      }
    },
    "/v1/accounts/{account-id}/auto_add_on_assignments": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Create AutoAddOnAssignments for an Account",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AutoAddOnAssignment-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "post-v1-accounts-account-id-auto_add_on_assignments",
        "x-stoplight": {
          "id": "nv3sjczmet07b"
        },
        "description": "Create `AutoAddOnAssignment` for an `Account`",
        "x-internal": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoAddOnAssignment-Create"
              }
            }
          }
        },
        "tags": [
          "AutoAddOnAssignments"
        ]
      },
      "get": {
        "summary": "Get AutoAddOnAssignments for an Account",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": " Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AutoAddOnAssignment-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "get-v1-accounts-account-id-auto_add_on_assignments",
        "x-stoplight": {
          "id": "757f5cafedvsz"
        },
        "description": "Get `AutoAddOnAssignments` for an `Account`",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/filter-account_type"
          }
        ],
        "x-internal": true,
        "tags": [
          "AutoAddOnAssignments"
        ]
      }
    },
    "/v1/accounts/{account-id}/auto_add_ons": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve AutoAddOns for an Account",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "vyjucvtfbwnvl"
                      },
                      "items": {
                        "$ref": "#/components/schemas/AddOn-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "get-v1-accounts-account-id-auto_add_ons",
        "x-stoplight": {
          "id": "1qza5utua6bdk"
        },
        "description": "Retrieve `AutoAddOns` for an `Account`",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/filter-account_type"
          }
        ],
        "x-internal": true,
        "deprecated": true
      }
    },
    "/v1/accounts/{account-id}/auto_add_ons/{auto-add-on-id}/customer_add_on": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account ID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "auto-add-on-id",
          "in": "path",
          "required": true,
          "description": "AddOn ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "delete": {
        "summary": "Delete AutoAddOn for a Customer Account",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "delete-v1-accounts-account-id-auto_add_ons-id-customer_add_on",
        "x-stoplight": {
          "id": "ajwamzzkzdgtk"
        },
        "description": "Delete `AutoAddOn` for a `Customer Account`",
        "x-internal": true
      }
    },
    "/v1/accounts/{account-id}/auto_add_ons/{auto-add-on-id}/vendor_add_on": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account ID"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "auto-add-on-id",
          "in": "path",
          "required": true,
          "description": "AddOn ID"
        },
        {
          "name": "Accept-Language",
          "in": "header",
          "schema": {
            "type": "string",
            "default": "en",
            "example": "en"
          },
          "description": "The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. "
        }
      ],
      "delete": {
        "summary": "Delete AutoAddOn for a Vendor Account",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "delete-v1-accounts-account-id-auto_add_ons-id-vendor_add_on",
        "x-stoplight": {
          "id": "wauvt42ki31sr"
        },
        "x-internal": true,
        "description": "Delete `AutoAddOn` for a `Vendor Account`"
      }
    },
    "/v1/accounts/{account-id}/scheduled_time_offs": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account Id"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Create Scheduled Time Off",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "201": {
            "description": "Create Schedule Time off",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Scheduled-Time-Off-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "post-v1-accounts-id-scheduled_time_offs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Scheduled-Time-Off-Create"
              }
            }
          }
        },
        "description": "Create a Scheduled Time Off for an `Account`",
        "x-stoplight": {
          "id": "1olm57uqimcn6"
        }
      },
      "get": {
        "summary": "Retrieve Scheduled Time Offs for an Account",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Scheduled-Time-Off-Read"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-accounts-account-id-scheduled-time-offs",
        "description": "Retrieve all active `ScheduledTimeOffs` visible to your `Company` for an `Account`",
        "tags": [
          "Accounts"
        ],
        "x-stoplight": {
          "id": "jgfv1mbmm1pbz"
        }
      }
    },
    "/v1/accounts/{account-id}/scheduled_time_offs/available": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account Id"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "put": {
        "summary": "Mark Schedule Available",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "202": {
            "description": "Shared Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "put-v1-accounts-account-id-scheduled_time_offs-available",
        "description": "Mark current `Account` as available and disable any `Scheduled Time Off`",
        "x-stoplight": {
          "id": "j5d2axo7kl23u"
        }
      }
    },
    "/v1/accounts/{account-id}/scheduled_time_offs/unavailable": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account Id"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "put": {
        "summary": "Mark Schedule Unavailable",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "202": {
            "description": "Shared Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "put-v1-accounts-account-id-scheduled_time_offs-unavailable",
        "description": "Mark current `Account` as unavailable and create a new `Scheduled time off`",
        "x-stoplight": {
          "id": "vyxq886egaykj"
        }
      }
    },
    "/v1/accounts/{account-id}/scheduled_time_offs/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Scheduled time off id"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "account-id",
          "in": "path",
          "required": true,
          "description": "Account Id"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "delete": {
        "summary": "Delete a Scheduled Time Off",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "delete-v1-accounts-account-id-scheduled_time_offs-id",
        "description": "Delete Scheduled Time Off for an `Account`",
        "x-stoplight": {
          "id": "d6xald6a3166r"
        }
      }
    },
    "/v1/accounts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Account ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve a single Account",
        "operationId": "get-v1-accounts-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account-Read"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stoplight": {
          "id": "z83cux1tsowcw"
        },
        "description": "Retrieve `Account` by ID",
        "tags": [
          "Accounts"
        ]
      },
      "patch": {
        "summary": "Update an Account",
        "operationId": "patch-v1-accounts-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account-Read"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "x-stoplight": {
          "id": "zsfr920ta0thd"
        },
        "description": "Update an `Account` by ID.\n\nThis endpoint requires the `edit_account` permission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account-Update"
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      },
      "delete": {
        "summary": "Delete an Account",
        "operationId": "delete-v1-accounts-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "x-stoplight": {
          "id": "xrjr1vnm5auyn"
        },
        "tags": [
          "Accounts"
        ],
        "description": "Delete an `Account` by ID\n\nThis endpoint requires the `delete_account` permission"
      }
    },
    "/v1/add_on_charges/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "AddOnCharge ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve a single AddOnCharge",
        "tags": [
          "AddOnCharges"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddOnCharge-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-add-on-charges-id",
        "x-stoplight": {
          "id": "ba6h588czevfo"
        },
        "description": "Retrieve a single `AddOnCharge` by ID",
        "x-internal": true
      },
      "patch": {
        "summary": "Update an AddOnCharge",
        "tags": [
          "AddOnCharges"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddOnCharge-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-add-on-charges-id",
        "x-stoplight": {
          "id": "5euad7wqjmg3i"
        },
        "description": "Update an `AddOnCharge`",
        "x-internal": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/AddOnCharge-Update"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an AddOnCharge",
        "tags": [
          "AddOnCharges"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "delete-v1-add-on-charges-id",
        "x-stoplight": {
          "id": "9xrptlgrnufur"
        },
        "x-internal": true,
        "description": "Delete an `AddOnCharge`"
      }
    },
    "/v1/add_ons": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Create an AddOn",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddOn-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "post-v1-add_ons",
        "x-stoplight": {
          "id": "1936ko4biwm2y"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOn-Create"
              }
            }
          }
        },
        "description": "Create an `AddOn`",
        "tags": [
          "AddOns"
        ]
      },
      "get": {
        "summary": "Retrieve AddOns visible to the current Company",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "x-stoplight": {
                        "id": "var9pbjickujx"
                      },
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddOn-Read"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-add_ons",
        "x-stoplight": {
          "id": "b40oql5ljsouo"
        },
        "description": "Retrieve `AddOns` visible to the current authenticated `Company`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/add_ons/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "AddOn ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve a single AddOn",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddOn-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-add_ons-id",
        "x-stoplight": {
          "id": "qk790biaszx9h"
        },
        "description": "Retrieve `AddOn` by ID"
      },
      "patch": {
        "summary": "Update an AddOn",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddOn-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-add_ons-id",
        "x-stoplight": {
          "id": "n12ul7z8p1eb0"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOn-Update"
              }
            }
          }
        },
        "description": "Update an `AddOn` by ID."
      }
    },
    "/v1/agave/customers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Agave-Customer ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "patch": {
        "summary": "Update an Agave-Customer",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-Customer-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-agave-customers-id",
        "x-stoplight": {
          "id": "3ihitjkp62vnk"
        },
        "x-internal": true,
        "description": "Update an `Agave-Customer`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Agave-Customer-Update"
              }
            }
          }
        }
      }
    },
    "/v1/agave/items/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Agave-Item ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "patch": {
        "summary": "Update an Agave-Item",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-Item-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-agave-items-id",
        "x-stoplight": {
          "id": "cs1oyxjyxh309"
        },
        "x-internal": true,
        "description": "Update an `Agave-Item`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Agave-Item-Update"
              }
            }
          }
        }
      }
    },
    "/v1/agave/ledger_accounts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Agave-LedgerAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "patch": {
        "summary": "Update an Agave-LedgerAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-LedgerAccount-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-agave-ledger_accounts-id",
        "x-stoplight": {
          "id": "pyo2sexut4m9u"
        },
        "description": "Update an `Agave-LedgerAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "x-internal": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Agave-LedgerAccount-Update"
              }
            }
          }
        }
      }
    },
    "/v1/agave/link_tokens": {
      "parameters": [
        {
          "name": "Accept-Language",
          "in": "header",
          "schema": {
            "type": "string",
            "default": "en",
            "example": "en"
          },
          "description": "The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. "
        }
      ],
      "post": {
        "summary": "Create an AgaveLinkToken for the current Company",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-LinkToken-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "post-v1-agave-link_tokens",
        "x-stoplight": {
          "id": "nben505xkur8w"
        },
        "description": "Create an `AgaveLinkToken` for the current `Company`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "x-internal": true,
        "tags": [
          "Agave"
        ]
      }
    },
    "/v1/agave/linked_accounts": {
      "parameters": [
        {
          "name": "Accept-Language",
          "in": "header",
          "schema": {
            "type": "string",
            "default": "en",
            "example": "en"
          },
          "description": "The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. "
        }
      ],
      "post": {
        "summary": "Create an Agave-LinkedAccount for the current Company",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-LinkedAccount-Read"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "post-v1-agave-linked_accounts",
        "x-stoplight": {
          "id": "2aitl2glgzcca"
        },
        "x-internal": true,
        "description": "Create an `Agave-LinkedAccount` for the current `Company`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Agave-LinkedAccount-Create"
              }
            }
          }
        },
        "tags": [
          "Agave"
        ]
      },
      "get": {
        "summary": "Retrieve Agave-LinkedAccounts for the current Company",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agave-LinkedAccount-Read"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts",
        "x-stoplight": {
          "id": "4qofrkjh7tphr"
        },
        "x-internal": true,
        "description": "Retrieve `Agave-LinkedAccounts` for the current `Company`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ],
        "tags": [
          "Agave"
        ]
      }
    },
    "/v1/agave/linked_accounts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "delete": {
        "summary": "Delete an Agave-LinkedAccount",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "delete-v1-users-me-agave-linked_accounts-id",
        "x-stoplight": {
          "id": "kvqbmo1sx8fr9"
        },
        "x-internal": true,
        "description": "Delete an `Agave-LinkedAccount` by id.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "tags": [
          "Agave"
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/customers": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount id"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve Agave-Customers for an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "3g6sa38l1xv3v"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Agave-Customer-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-customers",
        "x-stoplight": {
          "id": "qzt0nu0bahjzy"
        },
        "x-internal": true,
        "description": "Retrieve `Agave-Customers` for an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/customers/accounts/typeahead": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "name": "Accept-Language",
          "in": "header",
          "schema": {
            "type": "string",
            "default": "en",
            "example": "en"
          },
          "description": "The Accept-Language request HTTP header indicates the natural language and locale that the client prefers. "
        }
      ],
      "get": {
        "summary": "Typeahead search on customer Accounts scoped to an Agave-LinkedAccount",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "1h86is9cxx3ug"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Account-Read-Typeahead"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-linked_accounts-linked-account-id-customers-accounts-typeahead",
        "x-stoplight": {
          "id": "njqxhggv410ww"
        },
        "x-internal": true,
        "description": "`Typeahead` search on customer `Accounts` scoped to an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-query"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/import": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "put": {
        "summary": "Enqueue data import from an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "put-v1-agave-linked_accounts-linked-account-id-import",
        "x-stoplight": {
          "id": "6q3gmr9rcq6tm"
        },
        "description": "Enqueue data import for an `Agave-LinkedAccount`\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "x-internal": true
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/items": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve Agave-Items for an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "ado28g222z4y2"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Agave-Item-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-items",
        "x-stoplight": {
          "id": "6j68llrei5xng"
        },
        "x-internal": true,
        "description": "Retrieve `Agave-Items` for an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/items/add_ons/typeahead": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Typeahead search on AddOns scoped to an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "7mqdfzg1yho0o"
                      },
                      "items": {
                        "$ref": "#/components/schemas/AddOn-Read-Typeahead"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-items-add_ons-typeahead",
        "x-stoplight": {
          "id": "hswcyuoepyzhy"
        },
        "x-internal": true,
        "description": "`Typeahead` search on `AddOns` scoped to an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-query"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/items/services/typeahead": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Typeahead search on Services scoped to an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "pdwkegjy8huoz"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Service-Read-Typeahead"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-items-services-typeahead",
        "x-stoplight": {
          "id": "i05exkukrj5wr"
        },
        "x-internal": true,
        "description": "`Typeahead` search on `Services` scoped to an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-query"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/ledger_accounts": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve Agave-LedgerAccounts for an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "qhhrmwo9w76k6"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Agave-LedgerAccount-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-ledger_accounts",
        "x-stoplight": {
          "id": "z5s2r0guuzarg"
        },
        "x-internal": true,
        "description": "Retrieve `Agave-LedgerAccounts` for an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/vendors": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Retrieve Agave-Vendors for an Agave-LinkedAccount",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agave-Vendor-Read"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-agave-linked_accounts-linked-account-id-vendors",
        "x-stoplight": {
          "id": "p38hj91oqbq5i"
        },
        "x-internal": true,
        "description": "Retrieve `Agave-Vendors` for an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          }
        ]
      }
    },
    "/v1/agave/linked_accounts/{linked-account-id}/vendors/accounts/typeahead": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "linked-account-id",
          "in": "path",
          "required": true,
          "description": "Agave-LinkedAccount ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "get": {
        "summary": "Typeahead search on vendor Accounts scoped to an Agave-LinkedAccount",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "Contains prev and next links for pagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "jg82x33oj649k"
                      },
                      "items": {
                        "$ref": "#/components/schemas/Account-Read-Typeahead"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-v1-linked_accounts-linked-account-id-vendors-accounts-typeahead",
        "x-stoplight": {
          "id": "wzm19zmjd4piz"
        },
        "x-internal": true,
        "description": "`Typeahead` search on vendor `Accounts` scoped to an `Agave-LinkedAccount`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page-limit"
          },
          {
            "$ref": "#/components/parameters/page-after"
          },
          {
            "$ref": "#/components/parameters/page-before"
          },
          {
            "$ref": "#/components/parameters/search-query"
          }
        ]
      }
    },
    "/v1/agave/vendors/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Agave-Vendor ID"
        },
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "patch": {
        "summary": "Update an Agave-Vendor",
        "tags": [
          "Agave"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agave-Vendor-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ModelError"
          }
        },
        "operationId": "patch-v1-agave-vendors-id",
        "x-stoplight": {
          "id": "1n1tnm0y782x6"
        },
        "description": "Update an `Agave-Vendor`.\n\nThis endpoint requires the `manage_accounting_integration` `IamPermission`.",
        "x-internal": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Agave-Vendor-Update"
              }
            }
          }
        }
      }
    },
    "/v1/auth/forgot_password": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Forgot Password",
        "operationId": "post-v1-auth-forgot_password",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "This endpoint accepts an `email` of the `User` which will be sent a reset password link from Stytch.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthForgotPassword-Create"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": []
      }
    },
    "/v1/auth/login": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Generate an auth token",
        "operationId": "post-v1-auth-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthToken"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "This endpoint takes an `email` and `password`, and if a `User` exists with the given data it returns a `session_jwt` for usage with the API. This `session_jwt` should be added to the headers of further requests like so:\n```\nAuthorization: Bearer <session_jwt>\n```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogin-Create"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "email": "pbailey@phauling.com",
                    "password": "whatsupdoc"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "security": [],
        "tags": [
          "Authentication"
        ]
      },
      "delete": {
        "summary": "Delete an auth token",
        "operationId": "delete-v1-auth-login",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "This endpoints revokes the `session_jwt` passed in the Authorization header.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/v1/auth/magic_link": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Send a magic link email",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "post-v1-auth-magic_link",
        "x-stoplight": {
          "id": "9vhwhfp6n78q1"
        },
        "description": "Send a magic link email",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLink-Create"
              }
            }
          }
        }
      }
    },
    "/v1/auth/magic_link/login": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Login with a magic link token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthToken"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "post-v1-auth-magic_link-login",
        "x-stoplight": {
          "id": "jv9hmnncx8qj8"
        },
        "description": "Login with a magic link token.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLink-Login"
              }
            }
          }
        }
      }
    },
    "/v1/auth/otp_sms": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Send a one-time password via SMS",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OtpSms-Read"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "post-v1-auth-otp_sms",
        "x-stoplight": {
          "id": "2i8o3qa1lk1ok"
        },
        "description": "Send a one-time password via SMS.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpSms-Create"
              }
            }
          }
        }
      }
    },
    "/v1/auth/otp_sms/login": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Login with a one-time password received via SMS",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthToken"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "post-v1-auth-otp_sms-login",
        "x-stoplight": {
          "id": "vr5j5o6w70ww4"
        },
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpSms-Login"
              }
            }
          }
        },
        "description": "Login with a one-time password received via SMS."
      }
    },
    "/v1/auth/reset_password": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "Reset Password",
        "operationId": "post-v1-auth-reset_password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthToken"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthenticatedError"
          },
          "406": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthResetPassword-Create"
              }
            }
          },
          "description": ""
        },
        "description": "This endpoint accepts a `password_reset_token`, which comes from the reset password link from Stytch, and also accepts a `password` which will be set as the new password. This endpoint returns a valid `session_jwt` for the `User`.",
        "tags": [
          "Authentication"
        ],
        "security": []
      }
    },
    "/v1/auth/signup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept-Language"
        }
      ],
      "post": {
        "summary": "User sign up",
        "operationId": "post-v1-auth-signup",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
[...]
